<div class="container-scroller">
<app-header></app-header>
      <!-- partial -->
	<div class="container-fluid page-body-wrapper">
     
      <!-- partial:partials/_sidebar.html -->
      <app-sidebar></app-sidebar>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row mb-4">
            <div class="col-12 d-flex align-items-center justify-content-between">
              <h4 class="page-title">Notifications</h4>
            </div>
          </div>
        
         <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h4 class="card-title">Notifications</h4>
                  </div>
                
                  <div class="list d-flex align-items-center border-bottom py-3">
                    <img class="img-sm rounded-circle" src="./assets/images/user2.jpg" alt="">
                    <div class="wrapper w-100 ml-3">
                      <p class="mb-0">
                        <b>Dobrick Hanry</b></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                        </div>
                        <small class="text-muted ml-auto">2 hours ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="list d-flex align-items-center border-bottom py-3">
                    <img class="img-sm rounded-circle" src="./assets/images/user3.jpg" alt="">
                    <div class="wrapper w-100 ml-3">
                      <p class="mb-0">
                        <b>Denny Thomson </b></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        </div>
                        <small class="text-muted ml-auto">3 hours ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="list d-flex align-items-center border-bottom py-3">
                    <img class="img-sm rounded-circle" src="./assets/images/user4.jpg" alt="">
                    <div class="wrapper w-100 ml-3">
                      <p class="mb-0">
                        <b>Peter parker</b></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <p class="mb-0">Ut enim ad minima veniam, quis nostrum exercitationem ullam.</p>
                        </div>
                        <small class="text-muted ml-auto">1 hours ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="list d-flex align-items-center border-bottom py-3">
                    <img class="img-sm rounded-circle" src="./assets/images/user5.jpg" alt="">
                    <div class="wrapper w-100 ml-3">
                      <p class="mb-0">
                        <b>Jenny Thomas </b></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos.</p>
                        </div>
                        <small class="text-muted ml-auto">1 hours ago</small>
                      </div>
                    </div>
                  </div>
				  <div class="list d-flex align-items-center border-bottom py-3">
                    <img class="img-sm rounded-circle" src="./assets/images/user4.jpg" alt="">
                    <div class="wrapper w-100 ml-3">
                      <p class="mb-0">
                        <b>Peter parker</b></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <p class="mb-0">Ut enim ad minima veniam, quis nostrum exercitationem ullam.</p>
                        </div>
                        <small class="text-muted ml-auto">1 hours ago</small>
                      </div>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
            </div>
		   </div>
           
           <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed By Indi IT Solutions.
            
            </span>
          </div>
        </footer>
      </div>
	  </div>
	  </div>
