<div class="container-scroller">
  <app-header></app-header>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row mb-4">
          <div class="col-12 d-flex align-items-center justify-content-between">
            <h4 class="page-title">User Points</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Points List</h4>
                <div class="row">
                  <div class="col-12 table-responsive">
                    <table id="order-listing" class="table">
                      <thead>
                        <tr>
                          <th>Sr. No</th>
                          <th>User Name</th>
                          <th>Level Number</th>
                          <th>Given Points</th>
                          <th>Recived Points</th>
                          <th>Daily Sent Limit</th>
                          <th>Daily Recive Limit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let transactions of all_transactions
                              | paginate: { itemsPerPage: 5, currentPage: p };
                            let i = index
                          "
                        >
                          <td>{{ 5 * (p - 1) + i + 1 }}</td>
                          <td>{{ transactions.username }}</td>
                          <td>{{ transactions.level }}</td>
                          <td>{{ transactions.given_points }}</td>
                          <td>{{ transactions.recived_points }}</td>
                          <td>{{ transactions.total_points }}</td>
                          <td>{{ transactions.daily_limit }}</td>

                          <td>
                            <!-- <button routerLink="/order-details" type="button" class="btn btn-icons btn-rounded btn-primary m-r-5"><i class="icon-eye"></i></button> -->
                            <!--  <button
                              type="button"
                              class="btn btn-icons btn-rounded btn-danger"
                              data-toggle="modal"
                              data-target="#delete-pop"
                              (click)="_deleteSingleQuestion(transactions._id)"
                            >
                              <i class="icon-trash"></i>
                            </button>-->
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <pagination-controls
                      (pageChange)="p = $event"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid clearfix">
          <span
            class="text-muted d-block text-center text-sm-left d-sm-inline-block"
            >Copyright © 2019. All rights reserved.</span
          >
          <span
            class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
            >Designed By Indi IT Solutions.
          </span>
        </div>
      </footer>
    </div>
  </div>

  <div
    class="modal fade"
    id="delete-pop"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm" role="document">
      <!--<div class="modal-content">
        <div class="modal-body">
          <h5>Are you sure wants to delete it ?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="deleteData()">
            Yes
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            No
          </button>
        </div>
      </div>-->
    </div>
  </div>
</div>
