<!-- partial:partials/_navbar.html -->
<nav
  class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
>
  <div
    class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center"
  >
    <a class="navbar-brand brand-logo" href="index.html">
      <img src="./assets/images/logo.png" alt="logo" />
    </a>
    <a class="navbar-brand brand-logo-mini" href="index.html">
      <img src="./assets/images/logo.png" alt="logo" />
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <button
      class="navbar-toggler navbar-toggler align-self-center"
      type="button"
      data-toggle="minimize"
      onclick="myFunction()"
    >
      <i class="icon-menu"></i>
    </button>

    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item search-wrapper d-none d-md-block">
        <form action="#">
          <div class="form-group mb-0">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-magnifier"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search" />
            </div>
          </div>
        </form>
      </li>
      <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="UserDropdown"
          href="#"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          <div class="dropdown-toggle-wrapper">
            <div class="inner">
              <img
                ="class"
                ="img-xs rounded-circle"
                src="{{ profileData?.profile_image }}"
                alt="logo"
                *ngIf="profileData?.profile_image != null"
              />

              <img
                class="img-xs rounded-circle"
                src="./assets/images/user.jpg"
                alt="logo"
                *ngIf="profileData?.profile_image == null"
              />
            </div>
            <div class="inner">
              <div class="inner">
                <span class="profile-text font-weight-bold">{{
                  profileData?.fname
                }}</span>
                <small class="profile-text small">{{
                  profileData?.lname
                }}</small>
              </div>
            </div>
          </div>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right navbar-dropdown"
          aria-labelledby="UserDropdown"
        >
          <a routerLink="/adminprofile" class="dropdown-item mt-2">
            Profile Settings
          </a>
          <a class="dropdown-item mt-2" (click)="logout()"> Logout </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link count-indicator dropdown-toggle"
          id="notificationDropdown"
          href="#"
          data-toggle="dropdown"
        >
          <i class="icon-bell"></i>
          <span class="count">4</span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
          aria-labelledby="notificationDropdown"
        >
          <a class="dropdown-item">
            <p class="mb-0 font-weight-normal float-left">
              You have 4 new notifications
            </p>
            <span class="badge badge-pill badge-warning float-right"
              >View all</span
            >
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-success">
                <i class="icon-info mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-light text-dark">
                At vero eos et accusamus
              </h6>
              <p class="font-weight-light small-text">Just now</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-warning">
                <i class="icon-settings mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-light text-dark">
                Sed ut perspiciatis unde omnis
              </h6>
              <p class="font-weight-light small-text">2 hours ago</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-info">
                <i class="icon-user mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-light text-dark">
                Quis autem vel eum iure reprehenderit
              </h6>
              <p class="font-weight-light small-text">2 days ago</p>
            </div>
          </a>
        </div>
      </li>
    </ul>
    <button
      class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
      type="button"
      onclick="myFunction_small()"
    >
      <i class="icon-menu"></i>
    </button>
  </div>
</nav>
<!-- partial -->
