<div class="container-scroller">
<app-header></app-header>
      <!-- partial -->
	<div class="container-fluid page-body-wrapper">
     
      <!-- partial:partials/_sidebar.html -->
      <app-sidebar></app-sidebar>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row mb-4">
            <div class="col-12 d-flex align-items-center justify-content-between">
              <h4 class="page-title">Orders List 
				 </h4>
            </div>
          </div>
        
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
             <div class="card">
            <div class="card-body">
              <h4 class="card-title">Orders List</h4>
              <div class="row">
                <div class="col-12 table-responsive">
                  <table id="order-listing" class="table">
                    <thead>
                      <tr>
                        <th>Order ID</th>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Customer Name</th>
                        <th>Address</th>
                        <th>Order Status</th>
                        <th>Action</th>
                       </tr>
                    </thead>
                    <tbody>
						<tr>
							<td>12341</td>
							<td>
								Cheese Burger 
							</td>
							<td>$ 40.00</td>
							<td>John Smith</td>
							<td>123 Town Street, California</td>
							<td><label class="badge badge-success">Delivered </label></td>
							<td>
								<button routerLink="/order-details" type="button" class="btn btn-icons btn-rounded btn-primary m-r-5"><i class="icon-eye"></i></button>
								<button type="button" class="btn btn-icons btn-rounded btn-danger" data-toggle="modal" data-target="#delete-pop"><i class="icon-trash"></i></button>
							</td>
						</tr>
						<tr>
							<td>12342</td>
							<td>
								Corn Pizza 
							</td>
							<td>$ 20.00</td>
							<td>Marry James</td>
							<td>111 Town Street, Alaska</td>
							<td><label class="badge badge-danger">Cancelled </label></td>
							<td>
								<button  routerLink="/order-details" type="button" class="btn btn-icons btn-rounded btn-primary m-r-5"><i class="icon-eye"></i></button>
								<button type="button" class="btn btn-icons btn-rounded btn-danger" data-toggle="modal" data-target="#delete-pop"><i class="icon-trash"></i></button>
							</td>
						</tr>
						<tr>
							<td>12343</td>
							<td>
								Cold Coffee 
							</td>
							<td>$ 30.00</td>
							<td>Christon</td>
							<td>Town Hall Street, New York</td>
							<td><label class="badge badge-success">Delivered </label></td>
							<td>
								<button  routerLink="/order-details" type="button" class="btn btn-icons btn-rounded btn-primary m-r-5"><i class="icon-eye"></i></button>
								<button type="button" class="btn btn-icons btn-rounded btn-danger" data-toggle="modal" data-target="#delete-pop"><i class="icon-trash"></i></button>
							</td>
						</tr>
						<tr>
							<td>12344</td>
							<td>
								Chicken Wings
							</td>
							<td>$ 140.00</td>
							<td>KFC</td>
							<td>12 Street One, California</td>
							<td><label class="badge badge-success">Delivered </label></td>
							<td>
								<button  routerLink="/order-details" type="button" class="btn btn-icons btn-rounded btn-primary m-r-5"><i class="icon-eye"></i></button>
								<button type="button" class="btn btn-icons btn-rounded btn-danger" data-toggle="modal" data-target="#delete-pop"><i class="icon-trash"></i></button>
							</td>
						</tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
			</div>
            
          </div>
	</div>	  
           <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed By Indi IT Solutions.
            
            </span>
          </div>
        </footer>
      </div>
	  </div>
	

<div class="modal fade" id="delete-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
		<h5> Are you sure wants to delete it ? </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>	