<div class="container-scroller">
<app-header></app-header>
      <!-- partial -->
	<div class="container-fluid page-body-wrapper">
     
      <!-- partial:partials/_sidebar.html -->
      <app-sidebar></app-sidebar>
       <div class="main-panel">
        <div class="content-wrapper">
		 <div class="row mb-4">
            <div class="col-12 d-flex align-items-center justify-content-between">
              <h4 class="page-title">Edit Vendor</h4>
            </div>
          </div>
          <div class="row profile-page">
			 
			<div class="col-md-12 grid-margin stretch-card">
             <div class="card">
            <div class="card-body">
          
			  <ul class="nav nav-tabs tab-basic" role="tablist">
				<li class="nav-item">
				  <a class="nav-link active" id="home-tab1" data-toggle="tab" href="#whoweare1" role="tab" aria-controls="whoweare" aria-selected="true">Basic Info</a>
				</li>
				
				<!-- <li class="nav-item">
				  <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#history1" role="tab" aria-controls="history" aria-selected="false">Address Details</a>
				</li> -->
				<li class="nav-item">
				  <a class="nav-link" id="paymnt-st" data-toggle="tab" href="#payment1" role="tab" aria-controls="payment" aria-selected="false">Payment Details</a>
				</li>
			  </ul>
			  <div class="tab-content tab-content-basic">
			 
				<div class="tab-pane fade show active" id="whoweare1" role="tabpanel" aria-labelledby="home-tab1">
				  <div class="row">
				  	 	<form  [formGroup]="authForm" class="form-frms" (ngSubmit)="updateVendor()">
                <div class="profile-page new-on-tb m-t-20">
                <div class="col-12">
              <div class="card left-profl">
                <div class="card-body p-0">
				<div class="row">
                  <div class="col-4">
					  <div class="card crd-s crds">
						<div class="card-body p-0">
						  <div class="profile-header text-white d-none d-md-block head-s">
							<div class="d-flex justify-content-around">
							  <div class="profile-info d-flex justify-content-center align-items-md-center set-pos-s">
								<img class="rounded-circle img-lg" src="./assets/images/no-image.svg" alt="profile image" *ngIf="(details?.profile_picture == null || !details?.profile_picture) && Image == null">

								<img class="rounded-circle img-lg" src="{{details?.profile_picture}}" alt="profile image" *ngIf="details?.profile_picture != null && Image == null">

								<img class="rounded-circle img-lg" src="{{Image}}" alt="profile image" *ngIf=" Image != null">

								<label class="edit-imgs" for="edi-pro">
									<i class="icon-pencil"></i>
									<input type="file" id="edi-pro" style="visibility:hidden; width:0px; height:0px"  (change)="onImageChanged($event)"  name="file" ngf-pattern="'image/*" accept="image/*" ngf-max-size="200MB" class="dropify" filepreview="filepreview1" fileinput="file" ngf-select>
								</label>
							 </div>
							 
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  <div class="col-md-8">
                  <div class="profile-body pt-0">
                    <div class="row ">
						<div class="col-md-12">
							<div class="tab-content tab-body " id="profile-log-switch ">
								<div class="tab-pane fade show active " id="user-profile-info ">
									<div class="info-sma">
										<h4 class="brdr-db"> Basic Information </h4>
										
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="exampleInputEmail1">Influencer Name</label>
														<input type="text" class="form-control" placeholder="" formControlName="username" name="username" [ngClass]="(authForm.controls.username.hasError('required') && authForm.controls.username.touched )? 'has-error' : ''">
	                                                  	<span *ngIf="authForm.controls.username.hasError('required') &&    authForm.controls.username.touched">
	                                                    <p style="color:#f70101 !important;">*Field Influencer name is required!</p>
	                                                  	</span>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="exampleInputEmail1">Email Address</label>
														<input type="text" class="form-control" placeholder="" formControlName="email" name="email" [ngClass]="(authForm.controls.email.hasError('required') && authForm.controls.email.touched )? 'has-error' : ''">
	                                                  	<span *ngIf="authForm.controls.email.hasError('required') &&    authForm.controls.email.touched">
	                                                    <p style="color:#f70101 !important;">*Field email is required!</p>
	                                                  	</span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="exampleInputEmail1">Followers</label>
														<input type="text" class="form-control" placeholder="" formControlName="followers" name="followers" [ngClass]="(authForm.controls.followers.hasError('required') && authForm.controls.followers.touched )? 'has-error' : ''" readonly>
                                                  		<span *ngIf="authForm.controls.followers.hasError('required') &&    authForm.controls.followers.touched">
                                                  		</span>
													</div>
												</div>
											</div>
												<!-- <div class="col-md-6">
													<div class="form-group">
														<label for="exampleInputEmail1">Opening Hours</label>
														<input type="time" class="form-control" placeholder="" name="opening_hours" formControlName="opening_hours" [ngClass]="(authForm.controls.opening_hours.hasError('required') && authForm.controls.opening_hours.touched )? 'has-error' : ''">
		                                                  <span *ngIf="authForm.controls.opening_hours.hasError('required') &&    authForm.controls.opening_hours.touched">
		                                                    <p style="color:#f70101 !important;">Field opening hours is required!</p>
		                                                  </span>
													</div> -->
												<!-- </div> -->
												<!-- <div class="col-md-6">
													<div class="form-group">
														<label for="exampleInputEmail1">Closing Hours </label>
														<input type="time" class="form-control" placeholder="" formControlName="closing_hours" name="closing_hours" [ngClass]="(authForm.controls.closing_hours.hasError('required') && authForm.controls.closing_hours.touched )? 'has-error' : ''">
	                                                  	<span *ngIf="authForm.controls.closing_hours.hasError('required') &&    authForm.controls.closing_hours.touched">
		                                                    <p style="color:#f70101 !important;">Field closing hours is required!</p>
	                                                  	</span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-check form-check-flat">
														<label class="form-check-label bold-labl">
															<input type="checkbox" class="form-check-input"formControlName="disable_ordering" name="disable_ordering" [ngClass]="(authForm.controls.disable_ordering.hasError('required') && authForm.controls.disable_ordering.touched )? 'has-error' : ''" >Disabled Ordering
														<i class="input-helper"></i></label>
													</div>
												</div>
											</div> -->
											
										
									</div>
								</div>
							</div>
						</div>
                       </div>
                  </div>
				   </div>
				 </div>
				
                </div>
				 
              </div>
			   <div class="sv-cncl-all pull-right m-t-0">
					<button  class="btn btn-success btn-lg" type="submit" [disabled]="!authForm.valid">Save</button>
					<a  class="btn btn-danger btn-lg" type="button">Cancel</a>
				</div>
            </div>
            </div>
        </form>
              </div>
				</div>
				
				<!-- <div class="tab-pane fade" id="history1" role="tabpanel" aria-labelledby="contact-tab1">
					<div class="dtls-crs">
						<h4 class="brdr-db m-t-20"> Address Settings  <a href="javascript:void(0)" data-toggle="modal" data-target="#add-address" class="add-crd-new"> Add New </a> </h4>
						<div class="row m-b-20">
							<div class="col-12">
								<div class="row m-b-20">
									<div class="col-6">
										<div class="addres-crd-dtls add-ses"> 
											<span class="icon-addrs"> <i class="icon-location-pin"> </i> </span>
											<h4> Burger King </h4>
											<p> 123 Town Street Food Corner, California USA, CA 12345 </p> 
										
											<a href="javascript:void(0)" data-toggle="modal" data-target="#edit-address" class="edt-card-pop"> <i class="icon-pencil"></i> </a>
											<a href="javascript:void(0)" data-toggle="modal" data-target="#delete-pop" class="remv-card-pop" > <i class="icon-trash"></i> </a>
										</div>
									</div>
									<div class="col-6">
										<div class="addres-crd-dtls add-ses"> 
											<span class="icon-addrs"> <i class="icon-location-pin"> </i> </span>
											<h4> McDonald's Burger </h4>
											<p> 111 Down Town Street Food Corner, Alaska USA, CA 12345 </p> 
											
											<a href="javascript:void(0)" data-toggle="modal" data-target="#edit-address" class="edt-card-pop"> <i class="icon-pencil"></i> </a>
											<a href="javascript:void(0)" data-toggle="modal" data-target="#delete-pop" class="remv-card-pop" > <i class="icon-trash"></i> </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<div class="tab-pane fade" id="payment1" role="tabpanel" aria-labelledby="paymnt-st">
				<h4 class="brdr-db m-t-20"> Payment Methods </h4>
				<div class="row m-b-20">
						<div class="col-6">
							<div class="card-paypls">
								<h4> Paypal  
									<img src="assets/images/pay1.png" class="pull-right" width="20px"> 
								</h4>
								<div class="body-pays">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="exampleInputEmail1">Email Address</label>
												<input type="name" class="form-control" placeholder="" value="paypal@example.com">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label for="exampleInputEmail1">Secret Key :</label>
												<input type="name" class="form-control" placeholder="" value="XXX XXXXX XXXXXX">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label for="exampleInputEmail1">Token Key :</label>
												<input type="name" class="form-control" placeholder="" value="XXX XXXXX XXXXXX">
											</div>
										</div>
										<div class="form-radio">
											  <label class="form-check-label bold">
												<input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value=""> Set as Default
											  <i class="input-helper"></i></label>
											</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="card-paypls">
								<h4> Stripe  
								<img src="assets/images/pay2.png" class="pull-right" width="25px"> 
								</h4>
								<div class="body-pays">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="exampleInputEmail1">Email Address</label>
												<input type="name" class="form-control" placeholder="" value="stripe@example.com">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label for="exampleInputEmail1">Secret Key :</label>
												<input type="name" class="form-control" placeholder="" value="XXX XXXXX XXXXXX">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label for="exampleInputEmail1">Token Key :</label>
												<input type="name" class="form-control" placeholder="" value="XXX XXXXX XXXXXX">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-radio">
											  <label class="form-check-label bold">
												<input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked=""> Set as Default
											  <i class="input-helper"></i></label>
											</div>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="sv-cncl-all m-t-0">
							<button  class="btn btn-success btn-lg" type="submit" [disabled]="!authForm.valid">Save</button>
							<a  class="btn btn-danger btn-lg" type="button">Cancel</a>
						</div>
				</div>
			 </div>
              
            </div>
            </div>
			</div>
         
          </div>
      </div> 
           
           <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed By Indi IT Solutions.
            
            </span>
          </div>
        </footer>
      
	  </div>
	  </div>

<div class="modal fade" id="add-address" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="exampleInputEmail1">Address Line 1</label>
						<input type="name" class="form-control" placeholder="" value="">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="exampleInputEmail1">Address Line 2</label>
						<input type="name" class="form-control" placeholder="" value="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">City</label>
						<input type="name" class="form-control" placeholder="" value=""> 
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">State</label>
						<input type="name" class="form-control" placeholder="" value="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">Zip Code</label>
						<input type="name" class="form-control" placeholder="" value=""> 
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">Country</label>
						<select class="form-control">
							<option> Select One </option>
							<option> USA </option>
							<option> Canada </option>
							<option> India </option>
							<option> UAE </option>
							<option> Japan </option>
							<option> China </option>
						</select>
					</div>
				</div>
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-address" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="exampleInputEmail1">Address Line 1</label>
						<input type="name" class="form-control" placeholder="" value="123 Town Street">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="exampleInputEmail1">Address Line 2</label>
						<input type="name" class="form-control" placeholder="" value="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">City</label>
						<input type="name" class="form-control" placeholder="" value="Alaska"> 
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">State</label>
						<input type="name" class="form-control" placeholder="" value="Alaska">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">Zip Code</label>
						<input type="name" class="form-control" placeholder="" value="12433"> 
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">Country</label>
						<select class="form-control">
							<option> Select One </option>
							<option selected> USA </option>
							<option> Canada </option>
							<option> India </option>
							<option> UAE </option>
							<option> Japan </option>
							<option> China </option>
						</select>
					</div>
				</div>
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="delete-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
		<h5> Are you sure wants to delete it ? </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>	
