<div class="container-scroller">
  <app-header></app-header>
        <!-- partial -->
    <div class="container-fluid page-body-wrapper">
       
        <!-- partial:partials/_sidebar.html -->
        <app-sidebar></app-sidebar>
         <div class="main-panel">
          <div class="content-wrapper">
       <div class="row mb-4">
              <div class="col-12 d-flex align-items-center justify-content-between">
                <h4 class="page-title">Profile</h4>
              </div>
            </div>
            <div class="row profile-page">
              <div class="col-md-4 mb-4">
                <div class="card">
                  <div class="card-body p-0">
                    <div class="profile-header text-white">
                      <div class="d-flex justify-content-around">
                        <div class="profile-info d-flex justify-content-center align-items-md-center">
                          <img class="rounded-circle img-lg" src="./assets/images/user.jpg" alt="profile image">
                         
                        </div>
                       
                      </div>
                    </div>
                    <div class="profile-body pt-0">
                      <div class="row ">
                        <div class="col-md-12">
                          <div class="tab-content tab-body " id="profile-log-switch ">
                            <div class="tab-pane fade show active " id="user-profile-info">
                             
                  <table class="table table-borderless w-100 tbs">
                    <tr>
                      <td><strong>Name :</strong> Larry Garne</td>
                    </tr>
                    <tr>
                      <td><strong>Email :</strong> larry@example.com</td>
                    </tr>
                    <tr>
                      <td><strong>Phone :</strong> +1234 567 890</td>
                    </tr>
                    <tr>
                      <td><strong>Location :</strong> 123, Demo Street, California</td>
                    </tr>
                  </table>
                             
                              </div>
                            </div>
                        </div>
                         </div>
                    </div>
                  </div>
                </div>
              </div>
        <div class="col-md-8 grid-margin stretch-card">
               <div class="card">
              <div class="card-body">
            
          <ul class="nav nav-tabs tab-basic" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#whoweare" role="tab" aria-controls="whoweare" aria-selected="true">Profile Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#ourgoal" role="tab" aria-controls="ourgoal" aria-selected="false">Password Settings</a>
          </li>
          
         </ul>
          <div class="tab-content tab-content-basic p-ara">
          <div class="tab-pane fade show active " id="whoweare" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-12">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="text" class="form-control" value="Larry">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="text" class="form-control" value="Garne">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email Address</label>
                        <input type="text" class="form-control" value="larry@example.com">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Phone Number</label>
                        <input type="text" class="form-control" value="+1234 567 890">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Address</label>
                        <input type="text" class="form-control" value="123 Demo Street">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">City</label>
                        <input type="text" class="form-control" value="California">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Country</label>
                        <select class="form-control">
                          <option> Select One </option>
                          <option>India</option>
                          <option>Canada</option>
                          <option>USA</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Zip Code</label>
                        <input type="text" class="form-control" value="12345">
                      </div>
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="ourgoal" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-12">
                <form>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Old Password</label>
                        <input type="password" class="form-control" value="">
                      </div>
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">New Password</label>
                        <input type="password" class="form-control" value="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Confirm New Password</label>
                        <input type="password" class="form-control" value="">
                      </div>
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
          </div>
        <div class="sv-cncl-all">
          <button type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>	
        </div>
        </div>
              </div>
        </div>
           
            </div>
        </div> 
             
             <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed By Indi IT Solutions.
              
              </span>
            </div>
          </footer>
        
      </div>
      </div>
  