.login-bg {
     background: url(../../assets/images/bg.png); 
    background-size: cover;
	position:relative;
	z-index:0;
} 
.content-wrapper  {
    background: transparent;
}
.login-bg:after {
    /*content: "";*/
    /*background: rgba(0, 0, 0, 0.58);*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.new-rem .checkmark {border-radius:0px; }
.new-rem {margin-bottom:0px; }