<div class="container-scroller">
  <app-header></app-header>
        <!-- partial -->
    <div class="container-fluid page-body-wrapper">
       
        <!-- partial:partials/_sidebar.html -->
        <app-sidebar></app-sidebar>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row mb-4">
              <div class="col-12 d-flex align-items-center justify-content-between">
                <h4 class="page-title">Transactions List 
           </h4>
          
              </div>
            </div>
          
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
               <div class="card">
              <div class="card-body">
                <h4 class="card-title">Transactions List</h4>
                <div class="row">
                  <div class="col-12 table-responsive">
                    <table id="order-listing" class="table">
                      <thead>
                        <tr>
                          <td>Sr.No</td>
                          <th>Transaction ID</th>
                          <th>Customer Name</th>
                          <th>Customer Type</th>
                          <th>Amount Payable</th>
                          <th>Payment Type</th>
                          <th>Transaction Status</th>
                          <th>Date</th>
                          <th>Action</th>
                         </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let transactions of all_transactions;let i=index">
                          <td>{{i+1}}</td>
                          <td>{{transactions.transaction_id}}</td>
                          <td>{{transactions.customer_name}}</td>
                          <td>{{transactions.customer_type}}</td>
                          <td>$ {{transactions.amount_paid}}</td>
                          <td>{{transactions.payment_type}}</td>
                          <td>{{transactions.transaction_status}}</td>
                          <td>{{transactions.date_of_transaction}}</td>
                          <td>
                            <button routerLink="/order-details" type="button" class="btn btn-icons btn-rounded btn-primary m-r-5"><i class="icon-eye"></i></button>
                            <button type="button" class="btn btn-icons btn-rounded btn-danger" data-toggle="modal" data-target="#delete-pop"><i class="icon-trash"></i></button>
                          </td>
                        </tr>

                      </tbody>  
                    </table>
                  </div>
                </div>
              </div>
              </div>
        </div>
              
            </div>
    </div>	  
             <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed By Indi IT Solutions.
              
              </span>
            </div>
          </footer>
        </div>
      </div>
    
  
  <div class="modal fade" id="delete-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        
        <div class="modal-body">
      <h5> Are you sure wants to delete it ? </h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>	
      
  
  