<div class="container-scroller">
  <app-header></app-header>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row mb-4">
          <div class="col-12 d-flex align-items-center justify-content-between">
            <h4 class="page-title">Levels</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Diffrent Levels</h4>
                <div class="row">
                  <div class="col-12 table-responsive">
                    <table id="order-listing" class="table">
                      <thead>
                        <tr>
                          <td>Level Number</td>
                          <th>Level Name</th>
                          <th>Colour</th>
                          <th>Points Needed</th>
                          <th>Friends Allowed</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr *ngFor="let questions of all_Questions;let i = index | paginate: { itemsPerPage: 5, currentPage: p }"> -->

                        <tr
                          *ngFor="
                            let questions of all_Questions
                              | paginate: { itemsPerPage: 5, currentPage: p };
                            let i = index
                          "
                        >
                          <td>{{ questions.level_number }}</td>
                          <td>{{ questions.level_name }}</td>
                          <td>{{ questions.color }}</td>
                          <td>{{ questions.pts_needed }}</td>
                          <td
                            *ngIf="
                              questions.friends_allowed !== '' &&
                              questions.friends_allowed !== undefined
                            "
                          >
                            {{ questions.friends_allowed }}
                          </td>
                          <td *ngIf="questions.friends_allowed === undefined">
                            {{ fa }}
                          </td>
                          <!-- <td>
                            <button
                              type="button"
                              class="btn btn-icons btn-rounded btn-primary m-r-5"
                              (click)="viewDetails(i)"
                            >
                              <i class="icon-eye"></i>
                            </button>
                            <button
                              type="button"
                              class="btn btn-icons btn-rounded btn-danger"
                              data-toggle="modal"
                              data-target="#delete-pop"
                              (click)="_deleteSingleQuestion(questions._id)"
                            >
                              <i class="icon-trash"></i>
                            </button>
                          </td>-->
                        </tr>
                      </tbody>
                    </table>

                    <pagination-controls
                      (pageChange)="p = $event"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid clearfix">
          <span
            class="text-muted d-block text-center text-sm-left d-sm-inline-block"
            >Copyright © 2019. All rights reserved.</span
          >
          <span
            class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
            >Designed By Indi IT Solutions.
          </span>
        </div>
      </footer>
    </div>
  </div>

  <div
    class="modal fade"
    id="delete-pop"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h5>Are you sure wants to delete it ?</h5>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="_deleteQuestion()"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            id="closedeletemodal"
          >
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
