<div class="container-scroller">
<app-header></app-header>
      <!-- partial -->
	<div class="container-fluid page-body-wrapper">
     
      <!-- partial:partials/_sidebar.html -->
      <app-sidebar></app-sidebar>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row mb-4">
            <div class="col-12 d-flex align-items-center justify-content-between">
              <h4 class="page-title">Customers List 
				 </h4>
				<a routerLink="/add-customer" class="btn btn-success pull-right"> Add Customer </a>
            </div>
          </div>
        
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
             <div class="card">
            <div class="card-body">
              <h4 class="card-title">Customers List</h4>
              <div class="row">
                <div class="col-12 table-responsive">
                  <table id="order-listing" class="table">
                    <thead>
                      <tr>
                        <th>Image</th>
                        <!-- <th>First Name</th> -->
                        <th>User Name</th>
                        <th>Email Address</th>
                        <!-- <th>Mobile Number</th> -->
                        <th>Status</th>
                        <th>Block/Unblock</th>
                        <th>Action</th>
                       </tr>  
                    </thead>
                    <tbody>
						<tr *ngFor="let item of listing; let i = index;">
							<td>
                <img src="assets/images/no-image.svg" class="round-tbl" *ngIf="item?.profile_image == null || !item?.profile_image">
                 <img src="{{item?.profile_image}}" class="round-tbl" *ngIf="item?.profile_image != null">
              </td>
							<!-- <td>
								{{item?.fname}} 
							</td> -->
							<td>{{item?.username}} </td>
							<td>{{item?.email}} </td>
							<!-- <td>{{item?.contact}}</td> -->
							<td>
								<label class="badge badge-success" >Active </label>
								<!-- <label class="badge badge-danger">Inactive </label> -->
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="block_unblock('1',item._id)" *ngIf="item.block==0">UnBlock</button>
                <button type="button" class="btn btn-success" *ngIf="item.block==1" (click)="block_unblock('0',item._id)">Block</button>
              </td>
							<td>
								<div class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
									<a class="nav-link dropdown-toggle icn-mns" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
									  <div class="dropdown-toggle-wrapper">
										<div class="inner">
										  <i class="icon-options-vertical"></i>
										</div>
									  </div>
									</a>
									<div class="dropdown-menu dropdown-menu-right navbar-dropdown men-sml" aria-labelledby="UserDropdown">
									  <a (click)="viewDetails(i)" class="dropdown-item mt-2">
										View Details
									  </a>
									  <a (click)="editCustomer(i)" class="dropdown-item mt-2">
										Edit
									  </a>
									  <!-- <a routerLink="/customer-orders" class="dropdown-item mt-2">
										Orders
									  </a>
									  <a routerLink="/customer-feedback" class="dropdown-item mt-2">
										Feedback
									  </a>
									  <a routerLink="/favorites" class="dropdown-item mt-2">
										Favorites
									  </a> -->
									  <a href="javascript:void(0)" data-toggle="modal" data-target="#delete-pop" class="dropdown-item mt-2" (click)="deletePopUpCustomer(item)">
										Delete
									  </a>
									</div>
								  </div>
							</td>
						</tr>
						
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
			</div>
            
          </div>
	</div>	  
           <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed By Indi IT Solutions.
            
            </span>
          </div>
        </footer>
      </div>
	  </div>
	

<div class="modal fade" id="delete-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
		<h5> Are you sure wants to delete it ? </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteCustomer()">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>	
	  

