<div class="container-scroller">
<app-header></app-header>
      <!-- partial -->
	<div class="container-fluid page-body-wrapper">
     
      <!-- partial:partials/_sidebar.html -->
      <app-sidebar></app-sidebar>
      <div class="main-panel">
       <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12">
              <div class="card px-2">
                <div class="card-body">
                  <div class="container-fluid">
                    <h3 class="text-success">Order ID&nbsp;&nbsp;#234243</h3>
                    <hr>
                  </div>
                  <div class="container-fluid d-flex justify-content-between">
                    <div class="col-lg-3 pl-0">
                      
					  <h4> Delivery Address </h4>
					  <h5 class="text-danger m-t-20">  John Smith </h5>
                      <p>104 Town Street,
                        <br>California CA,
                        <br>USA, CA 12345.</p>
                    </div>
                    <div class="col-lg-3 pr-0">
                     <h4 class="text-right"> Vendor Address </h4>
					  <h5 class="text-danger m-t-20 text-right">  Pizza Hut </h5>
                      <p class="text-right">Cafe Coffee Day,
                        <br> C-201, Town Down,
                        <br> USA, CA 12345.</p>
                    </div>
                  </div>
                  <div class="container-fluid d-flex justify-content-between">
                    <div class="col-lg-3 pl-0">
                      <p class="mb-0 mt-5">Invoice Date : 23rd June 2019</p>
                    </div>
                  </div>
                  <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                    <div class="table-responsive w-100">
                      <table class="table">
                        <thead>
                          <tr class="bg-dark text-white">
                            <th>#</th>
                            <th>Item Name</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="text-right">
                            <td class="text-left">1</td>
                            <td class="text-left">Cold Coffee</td>
                            <td>2 Items</td>
                            <td>$ 40.00</td>
                          </tr>
                          <tr class="text-right">
                            <td class="text-left">2</td>
                            <td class="text-left">Lemon Tea</td>
                            <td>5 Items</td>
                            <td>$ 12.50</td>
                          </tr>
                          <tr class="text-right">
                            <td class="text-left">3</td>
                            <td class="text-left">Green Tea Pack</td>
                            <td>4 Items</td>
                            <td>$ 10.00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="container-fluid mt-4 w-100">
                    <p class="text-right mb-2">Sub - Total amount: $62.50</p>
                    <p class="text-right">Delivery Charges  : $ 4.00</p>
                    <h3 class="text-right mb-5">Total Amount: $68.50</h3>
                    <hr>
                  </div>
                  <div class="container-fluid w-100">
                    <a href="#" class="btn btn-primary float-right mt-2 ml-2">
                      <i class="mdi mdi-printer mr-1"></i>Print</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
           <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed By Indi IT Solutions.
            
            </span>
          </div>
        </footer>
      </div>
	  </div>
	

<div class="modal fade" id="delete-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
		<h5> Are you sure wants to delete it ? </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>	