<nav class="sidebar sidebar-offcanvas sidebar-dark" id="sidebar">
	  <ul class="nav">
          <li class="nav-item nav-profile">
            <img src="./assets/images/user.jpg" alt="profile image" *ngIf="profileData?.profile_image == null">

            <img src="{{profileData?.profile_image}}" alt="profile image" *ngIf="profileData?.profile_image != null">


            <p class="text-center font-weight-medium">{{profileData?.fname}}  {{profileData?.lname}}</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" href="javascript:;">
              <i class="menu-icon icon-home"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>


          <li class="nav-item d-none d-md-block" id="sideshow-hovr" onclick="myFunction_hover()">
            <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="false" aria-controls="page-layouts">
              <i class="menu-icon icon-people"></i>
              <span class="menu-title">Users</span>
            </a>
            <div class="collapse" id="page-layouts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/customer" href="javascript:;">Customers</a>
                </li>	
				<li class="nav-item">
                  <a class="nav-link" routerLink="/vendors">Influencers</a>
                </li>				
              </ul>
            </div>
          </li>
		  <li class="nav-item">
            <a class="nav-link" routerLink="/questions-answers" href="javascript:;">
              <i class="menu-icon icon-handbag"></i>
              <span class="menu-title">Questions/Answers</span>
            </a>
          </li>


		  <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/profile" href="javascript:;">
              <i class="menu-icon icon-user"></i>
              <span class="menu-title">Profile Settings</span>
            </a>
          </li> -->


        <li class="nav-item">
            <a class="nav-link" routerLink="/transactions" href="javascript:;">
              <i class="menu-icon icon-docs"></i>
              <span class="menu-title">ALL Transactions</span>
            </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/notifications">
            <i class="menu-icon icon-bell"></i>
            <span class="menu-title">Notifications</span>
          </a>
        </li>

        <li class="nav-item">
            <a class="nav-link"  routerLink="/reports">
              <i class="menu-icon icon-chart"></i>
              <span class="menu-title">Reports</span>
            </a>
          </li>

		    <li class="nav-item">
            <a class="nav-link" click="logout()">
              <i class="menu-icon icon-logout"></i>
              <span class="menu-title">Logout</span>
            </a>
        </li>
          
        </ul>
      </nav>