<div class="container-scroller">
<app-header></app-header>
      <!-- partial -->
	<div class="container-fluid page-body-wrapper">
     
      <!-- partial:partials/_sidebar.html -->
      <app-sidebar></app-sidebar>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row mb-4">
            <div class="col-12 d-flex align-items-center justify-content-between">
              <h4 class="page-title">Feedback
				 </h4>
            </div>
          </div>
        
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
             <div class="card">
            <div class="card-body">
              <h4 class="card-title">Feedbacks List</h4>
              <div class="row">
                <div class="col-12 table-responsive">
                  <table id="order-listing" class="table">
                    <thead>
                      <tr>
                        <th>Order ID</th>
                        <th>Item Name</th>
                        <th>Vendor</th>
                        <th>Feedback</th>
                        <th>Feedback Date</th>
                        <th>Action</th>
                       </tr>
                    </thead>
                    <tbody>
						<tr>
							<td>12341</td>
							<td>
								Cheese Burger 
							</td>
							<td>Burger King </td>
							<td><p class="mx-w-200"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.. </p></td>
							<td>12/05/2019 at 12:40am</td>
							<td>
								<button data-toggle="modal" data-target="#feedback" class="btn btn-icons btn-rounded btn-primary m-r-5" type="button"><i class="icon-eye"></i></button>
								<button type="button" class="btn btn-icons btn-rounded btn-danger" data-toggle="modal" data-target="#delete-pop"><i class="icon-trash"></i></button>
							</td>
						</tr>
						<tr>
							<td>12342</td>
							<td>
								Corn Pizza 
							</td>
							<td>Pizza Hut </td>
							<td><p class="mx-w-200">Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p></td>
							<td>12/05/2019 at 10:20am</td>
							<td>
								<button data-toggle="modal" data-target="#feedback" class="btn btn-icons btn-rounded btn-primary m-r-5" type="button"><i class="icon-eye"></i></button>
								<button type="button" class="btn btn-icons btn-rounded btn-danger" data-toggle="modal" data-target="#delete-pop"><i class="icon-trash"></i></button>
							</td>
						</tr>
						<tr>
							<td>12343</td>
							<td>
								Cold Coffee 
							</td>
							<td>CCD </td>
							<td><p class="mx-w-200">At vero eos et accusamus et iusto odio dignissimos ducimus qui </p></td>
							<td>13/05/2019 at 10:20am</td>
							<td>
								<button data-toggle="modal" data-target="#feedback" class="btn btn-icons btn-rounded btn-primary m-r-5" type="button"><i class="icon-eye"></i></button>
								<button type="button" class="btn btn-icons btn-rounded btn-danger" data-toggle="modal" data-target="#delete-pop"><i class="icon-trash"></i></button>
							</td>
						</tr>
						<tr>
							<td>12344</td>
							<td>
								Chicken Wings
							</td>
							<td>KFC </td>
							<td><p class="mx-w-200">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis </p></td>
							<td>19/05/2019 at 11:20am</td>
							<td>
								<button data-toggle="modal" data-target="#feedback" class="btn btn-icons btn-rounded btn-primary m-r-5" type="button"><i class="icon-eye"></i></button>
								<button type="button" class="btn btn-icons btn-rounded btn-danger" data-toggle="modal" data-target="#delete-pop"><i class="icon-trash"></i></button>
							</td>
						</tr>
                    </tbody> 
                  </table>
                </div>
              </div>
            </div>
            </div>
			</div>
            
          </div>
	</div>	  
           <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed By Indi IT Solutions.
            
            </span>
          </div>
        </footer>
      </div>
	  </div>
	

<div class="modal fade" id="delete-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
		<h5> Are you sure wants to delete it ? </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>	
<div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modl-shad" role="document"> 
    <div class="modal-content" >
      
      <div class="modal-body">
		<h4> Feedback </h4>
		<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
      </div>
      <div class="modal-footer pull-left">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>