<div class="container-scroller">
  <app-header></app-header>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row mb-4">
          <div class="col-12 d-flex align-items-center justify-content-between">
            <h4 class="page-title">Profile</h4>
          </div>
        </div>
        <div class="row profile-page">
          <div class="col-4">
            <div class="card">
              <div class="card-body p-0">
                <div class="profile-header text-white d-none d-md-block">
                  <div class="d-flex justify-content-around">
                    <div
                      class="profile-info d-flex justify-content-center align-items-md-center set-pos-s"
                    >
                      <img
                        class="rounded-circle img-lg"
                        src="./assets/images/no-image.svg"
                        alt="profile image"
                        *ngIf="
                          Image == null && profileData?.profile_image == null
                        "
                      />
                      <img
                        class="rounded-circle img-lg"
                        src="{{ profileData?.profile_image }}"
                        alt="profile image"
                        *ngIf="
                          Image == null && profileData?.profile_image != null
                        "
                      />

                      <img
                        class="rounded-circle img-lg"
                        src="{{ Image }}"
                        alt="profile image"
                        *ngIf="Image != null"
                      />

                      <label class="edit-imgs" for="edi-pro">
                        <i class="icon-pencil"></i>
                        <input
                          type="file"
                          id="edi-pro"
                          style="visibility: hidden; width: 0px; height: 0px"
                          name="profile_image"
                          (change)="onImageChanged($event)"
                          name="file"
                          ngf-pattern="'image/*"
                          accept="image/*"
                          ngf-max-size="200MB"
                          class="dropify"
                          filepreview="filepreview1"
                          fileinput="file"
                          ngf-select
                        />
                      </label>
                    </div>
                  </div>
                </div>
                <div class="profile-body pt-0">
                  <div class="row">
                    <div class="col-12 col-md-12">
                      <div
                        class="tab-content tab-body"
                        id="profile-log-switch "
                      >
                        <div
                          class="tab-pane fade show active"
                          id="user-profile-info "
                        >
                          <table class="table table-borderless w-100">
                            <tr>
                              <td>
                                <strong>Name :</strong>
                                {{ profileData?.firstName }}
                                {{ profileData?.lastName }}
                              </td>
                            </tr>
                            <tr>
                              <td><strong>Role :</strong> Admin</td>
                            </tr>
                            <tr>
                              <td>
                                <strong>Email :</strong>
                                {{ profileData?.email }}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <strong>Phone :</strong>
                                {{ profileData?.contact }}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <strong>Location :</strong>
                                {{ profileData?.address }},
                                {{ profileData?.city }},
                                {{ profileData?.country }}
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <ul class="nav nav-tabs tab-basic" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="home-tab"
                      data-toggle="tab"
                      href="#whoweare"
                      role="tab"
                      aria-controls="whoweare"
                      aria-selected="true"
                      >Profile Settings</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="profile-tab"
                      data-toggle="tab"
                      href="#ourgoal"
                      role="tab"
                      aria-controls="ourgoal"
                      aria-selected="false"
                      >Password Settings</a
                    >
                  </li>
                </ul>
                <div class="tab-content tab-content-basic p-30-20">
                  <div
                    class="tab-pane fade show active"
                    id="whoweare"
                    role="tabpanel"
                    aria-labelledby="home-tab"
                  >
                    <div class="row">
                      <div class="col-12">
                        <form
                          [formGroup]="authForm"
                          class="form-frms"
                          (ngSubmit)="updateProfile()"
                        >
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1"
                                  >First Name</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  formControlName="firstName"
                                  name="firstName"
                                  [ngClass]="
                                    authForm.controls.firstName.hasError(
                                      'required'
                                    ) && authForm.controls.firstName.touched
                                      ? 'has-error'
                                      : ''
                                  "
                                />
                                <span
                                  *ngIf="
                                    authForm.controls.fname.hasError(
                                      'required'
                                    ) && authForm.controls.fname.touched
                                  "
                                >
                                  <p style="color: #f70101 !important">
                                    Field first name is required!
                                  </p>
                                </span>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1"
                                  >Last Name</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  formControlName="lname"
                                  name="lname"
                                  [ngClass]="
                                    authForm.controls.lname.hasError(
                                      'required'
                                    ) && authForm.controls.lname.touched
                                      ? 'has-error'
                                      : ''
                                  "
                                />
                                <span
                                  *ngIf="
                                    authForm.controls.lname.hasError(
                                      'required'
                                    ) && authForm.controls.lname.touched
                                  "
                                >
                                  <p style="color: #f70101 !important">
                                    Field last name is required!
                                  </p>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1"
                                  >Email Address</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  formControlName="email"
                                  name="email"
                                  [ngClass]="
                                    authForm.controls.email.hasError(
                                      'required'
                                    ) && authForm.controls.email.touched
                                      ? 'has-error'
                                      : ''
                                  "
                                />
                                <span
                                  *ngIf="
                                    authForm.controls.email.hasError(
                                      'required'
                                    ) && authForm.controls.email.touched
                                  "
                                >
                                  <p style="color: #f70101 !important">
                                    field email is required!
                                  </p>
                                </span>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1"
                                  >Phone Number</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  formControlName="contact"
                                  name="contact"
                                  [ngClass]="
                                    authForm.controls.contact.hasError(
                                      'required'
                                    ) && authForm.controls.contact.touched
                                      ? 'has-error'
                                      : ''
                                  "
                                />
                                <span
                                  *ngIf="
                                    authForm.controls.contact.hasError(
                                      'required'
                                    ) && authForm.controls.contact.touched
                                  "
                                >
                                  <p style="color: #f70101 !important">
                                    Field contact number is required!
                                  </p>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Address</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  formControlName="address"
                                  name="address"
                                  [ngClass]="
                                    authForm.controls.address.hasError(
                                      'required'
                                    ) && authForm.controls.address.touched
                                      ? 'has-error'
                                      : ''
                                  "
                                />
                                <span
                                  *ngIf="
                                    authForm.controls.address.hasError(
                                      'required'
                                    ) && authForm.controls.address.touched
                                  "
                                >
                                  <p style="color: #f70101 !important">
                                    Field house/flat no. is required!
                                  </p>
                                </span>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1">City</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  formControlName="city"
                                  name="city"
                                  [ngClass]="
                                    authForm.controls.city.hasError(
                                      'required'
                                    ) && authForm.controls.city.touched
                                      ? 'has-error'
                                      : ''
                                  "
                                />
                                <span
                                  *ngIf="
                                    authForm.controls.city.hasError(
                                      'required'
                                    ) && authForm.controls.city.touched
                                  "
                                >
                                  <p style="color: #f70101 !important">
                                    Field city is required!
                                  </p>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Country</label>
                                <select
                                  class="form-control"
                                  formControlName="country"
                                  name="country"
                                  [ngClass]="
                                    authForm.controls.country.hasError(
                                      'required'
                                    ) && authForm.controls.country.touched
                                      ? 'has-error'
                                      : ''
                                  "
                                >
                                  <option value="">Select One</option>
                                  <option value="india">India</option>
                                  <option value="canada">Canada</option>
                                  <option value="usa">USA</option>
                                </select>
                                <span
                                  *ngIf="
                                    authForm.controls.country.hasError(
                                      'required'
                                    ) && authForm.controls.country.touched
                                  "
                                >
                                  <p style="color: #f70101 !important">
                                    Field country is required!
                                  </p>
                                </span>
                              </div>
                            </div>
                            <!-- <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Zip Code</label>
                        <input type="text" class="form-control" value="12345">
                      </div>
                    </div> -->
                          </div>
                          <div class="sv-cncl-all">
                            <button
                              type="submit"
                              [disabled]="!authForm.valid"
                              class="btn btn-primary"
                            >
                              Save
                            </button>
                            <!-- <button type="button" class="btn btn-danger">Cancel</button> -->
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="ourgoal"
                    role="tabpanel"
                    aria-labelledby="profile-tab"
                  >
                    <div class="row">
                      <div class="col-12">
                        <form
                          [formGroup]="authForm1"
                          (ngSubmit)="updatePassword()"
                        >
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="exampleInputEmail1"
                                  >Old Password</label
                                >
                                <input
                                  formControlName="password"
                                  type="password"
                                  class="form-control"
                                  placeholder=""
                                />
                                <span
                                  *ngIf="
                                    authForm1.controls.password.hasError(
                                      'required'
                                    ) && authForm1.controls.password.touched
                                  "
                                >
                                  <p style="color: #f70101 !important">
                                    Field Password is required!
                                  </p>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1"
                                  >New Password</label
                                >
                                <input
                                  formControlName="newPassword"
                                  type="password"
                                  class="form-control"
                                  placeholder=""
                                />
                                <span
                                  *ngIf="
                                    authForm1.controls.newPassword.hasError(
                                      'required'
                                    ) && authForm1.controls.newPassword.touched
                                  "
                                >
                                  <p style="color: #f70101 !important">
                                    Field New Password is required!
                                  </p>
                                </span>
                                <span
                                  *ngIf="
                                    authForm1.controls.newPassword.hasError(
                                      'minlength'
                                    ) && authForm1.controls.newPassword.touched
                                  "
                                >
                                  <p style="color: #f70101 !important">
                                    New Password must contains atleast 5
                                    characters!
                                  </p>
                                </span>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1"
                                  >Confirm New Password</label
                                >
                                <input
                                  formControlName="confirmPassword"
                                  type="password"
                                  class="form-control"
                                  placeholder=""
                                />
                                <span
                                  *ngIf="
                                    authForm1.controls.confirmPassword.hasError(
                                      'required'
                                    ) &&
                                    authForm1.controls.confirmPassword.touched
                                  "
                                >
                                  <p style="color: #f70101 !important">
                                    Field Confirm Password is required!
                                  </p>
                                </span>
                                <span
                                  *ngIf="
                                    authForm1.controls.confirmPassword.hasError(
                                      'minlength'
                                    ) &&
                                    authForm1.controls.confirmPassword.touched
                                  "
                                >
                                  <p style="color: #f70101 !important">
                                    Confirm Password must contains atleast 5
                                    characters!
                                  </p>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="sv-cncl-all">
                            <button
                              type="submit"
                              [disabled]="!authForm1.valid"
                              class="btn btn-primary"
                            >
                              Save
                            </button>
                            <!-- <button type="button" class="btn btn-danger">Cancel</button> -->
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="sv-cncl-all">
          <button type="button" class="btn btn-success btn-lg" [disabled]="!authForm.valid">Save</button>
          <button type="button" class="btn btn-danger btn-lg">Cancel</button>
        </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid clearfix">
          <span
            class="text-muted d-block text-center text-sm-left d-sm-inline-block"
            >Copyright © 2019. All rights reserved.</span
          >
          <span
            class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
            >Designed By Indi IT Solutions.
          </span>
        </div>
      </footer>
    </div>
  </div>
</div>
