<div class="container-scroller">
  <app-header></app-header>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row mb-4">
          <div class="col-12 d-flex align-items-center justify-content-between">
            <h4 class="page-title">Privacy Policy Details</h4>
          </div>
        </div>
        <div class="row profile-page">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <ul class="nav nav-tabs tab-basic" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="home-tab1"
                      data-toggle="tab"
                      href="#whoweare1"
                      role="tab"
                      aria-controls="whoweare"
                      aria-selected="true"
                      >Privacy Policy Info</a
                    >
                  </li>
                  <!-- <li class="nav-item">
				  <a class="nav-link" id="addresses1" data-toggle="tab" href="#addresses" role="tab" aria-controls="addresses" aria-selected="false">Addresses</a>
				</li> -->
                  <!-- <li class="nav-item">
                    <a
                      class="nav-link"
                      id="contact-tab1"
                      data-toggle="tab"
                      href="#history1"
                      role="tab"
                      aria-controls="history"
                      aria-selected="false"
                      >Title Details</a
                    >
                  </li> -->
                </ul>
                <div class="tab-content tab-content-basic">
                  <div
                    class="tab-pane fade show active"
                    id="whoweare1"
                    role="tabpanel"
                    aria-labelledby="home-tab1"
                  >
                    <div class="row">
                      <div class="profile-page new-on-tb m-t-20">
                        <div class="col-12">
                          <div class="card left-profl">
                            <div class="card-body p-0">
                              <div class="row">
                                <div class="col-md-4">
                                  <!-- <div
                                    class="profile-header text-white d-none d-md-block"
                                  > -->
                                  <div class="d-flex justify-content-around">
                                    <!-- <div
                                        class="profile-info d-flex justify-content-center align-items-md-center"
                                      ></div> -->
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-8">
                                <div class="profile-body pt-0">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div
                                        class="tab-content tab-body"
                                        id="profile-log-switch "
                                      >
                                        <div
                                          class="tab-pane fade show active"
                                          id="user-profile-info "
                                        >
                                          <div class="info-sma">
                                            <h4 class="brdr-db">
                                              Privacy Policy
                                            </h4>
                                            <ul class="lin-nam">
                                              <li>
                                                <strong>Title :</strong>
                                                {{ details?.title }}
                                                <br />
                                                <strong>Description : </strong>
                                                {{ details?.desc }}
                                              </li>

                                              <!-- <li><strong>Opening Hours :</strong> {{hours('open')}}</li>
											<li><strong>Closing Hours :</strong> {{hours('close')}}</li> -->
                                              <!-- <li class="w-100">
												<div class="form-check form-check-flat">
													<label class="form-check-label bold-labl" *ngIf="details?.disable_ordering == false">
														<input type="checkbox" class=""  disabled=""> Disabled Ordering
													<i class="input-helper"></i></label>

													<label class="form-check-label bold-labl" *ngIf="details?.disable_ordering == true">
														<input type="checkbox" class=""  disabled="" checked=""> Disabled Ordering
													<i class="input-helper"></i></label>
												</div>
											</li> -->
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--- </div>-->
                  <!-- <div class="tab-pane fade" id="addresses" role="tabpanel" aria-labelledby="addresses1">
					<h4 class="brdr-db m-t-20"> Saved Address </h4>
					<div class="row m-b-20">
						<div class="col-6">
							<div class="addres-crd-dtls">
								<span class="icon-addrs"> <i class="icon-location-pin"> </i> </span>
								<h4> Burger King </h4>
								<p> 123 Town Street Food Corner, California USA, CA 12345 </p>
							</div>
						</div>
						<div class="col-6">
							<div class="addres-crd-dtls">
								<span class="icon-addrs"> <i class="icon-location-pin"> </i> </span>
								<h4> McDonald's Burger </h4>
								<p> 111 Down Town Street Food Corner, Alaska USA, CA 12345 </p>
							</div>
						</div>
					</div>
				</div> -->
                  <div
                    class="tab-pane fade"
                    id="history1"
                    role="tabpanel"
                    aria-labelledby="contact-tab1"
                  >
                    <h4 class="brdr-db m-t-20">Saved Cards</h4>
                    <div
                      class="row m-b-20"
                      *ngIf="details?.paymentInfo?.length > 0"
                    >
                      <div class="col-6">
                        <div class="card-paypls">
                          <h4>
                            Paypal
                            <img
                              src="assets/images/pay1.png"
                              class="pull-right"
                              width="20px"
                            />
                          </h4>
                          <div class="body-pays">
                            <ul class="list-tmal">
                              <li>
                                <b> Email Address: </b>
                                merchant_business@gmail.com
                              </li>
                              <li><b> Secret Key: </b> XXX XXXXX XXXXXXX</li>
                              <li><b> Token Key: </b> XXX XXXXX XXXXXXX</li>
                              <li class="w-100">
                                <div class="form-check form-check-flat">
                                  <label class="form-check-label bold-labl">
                                    <input
                                      type="checkbox"
                                      class="form-check-input"
                                      disabled="" />
                                    Set as Default <i class="input-helper"></i
                                  ></label>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="card-paypls">
                          <h4>
                            Stripe
                            <img
                              src="assets/images/pay2.png"
                              class="pull-right"
                              width="25px"
                            />
                          </h4>
                          <div class="body-pays">
                            <ul class="list-tmal">
                              <li>
                                <b> Email Address: </b>
                                merchant_business@gmail.com
                              </li>
                              <li><b> Secret Key: </b> XXX XXXXX XXXXXXX</li>
                              <li><b> Token Key: </b> XXX XXXXX XXXXXXX</li>
                              <li class="w-100">
                                <div class="form-check form-check-flat">
                                  <label class="form-check-label bold-labl">
                                    <input
                                      type="checkbox"
                                      class="form-check-input"
                                      checked=""
                                      disabled="" />
                                    Set as Default <i class="input-helper"></i
                                  ></label>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="row m-b-20"
                      *ngIf="
                        details?.paymentInfo?.length == 0 ||
                        !details?.paymentInfo
                      "
                    >
                      <div class="col-4">
                        <span
                          >No payment method added by the Influencer yet!</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid clearfix">
          <span
            class="text-muted d-block text-center text-sm-left d-sm-inline-block"
            >Copyright © 2019. All rights reserved.</span
          >
          <span
            class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
            >Designed By Indi IT Solutions.
          </span>
        </div>
      </footer>
    </div>
  </div>

  <div
    class="modal fade"
    id="remarks"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm modl-shad" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h4>Remarks</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
        <div class="modal-footer pull-left">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
