<div class="container-scroller">
  <app-header></app-header>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row mb-4">
          <div class="col-12 d-flex align-items-center justify-content-between">
            <h4 class="page-title">Add User</h4>
          </div>
        </div>
        <div class="row profile-page">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <ul class="nav nav-tabs tab-basic" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="home-tab1"
                      data-toggle="tab"
                      href="#whoweare1"
                      role="tab"
                      aria-controls="whoweare"
                      aria-selected="true"
                      >Basic Info</a
                    >
                  </li>
                </ul>
                <div class="tab-content tab-content-basic">
                  <div
                    class="tab-pane fade show active"
                    id="whoweare1"
                    role="tabpanel"
                    aria-labelledby="home-tab1"
                  >
                    <div class="row">
                      <form
                        [formGroup]="authForm"
                        class="form-frms"
                        (ngSubmit)="addCustomer()"
                      >
                        <div class="profile-page new-on-tb m-t-20">
                          <div class="col-12">
                            <div class="card left-profl">
                              <div class="card-body p-0">
                                <div class="row">
                                  <!-- <div class="col-4">
							  <div class="card crd-s crds">
								<div class="card-body p-0">
								  <div class="profile-header text-white d-none d-md-block">
									<div class="d-flex justify-content-around">
									  <div class="profile-info d-flex justify-content-center align-items-md-center set-pos-s">
										<img class="rounded-circle img-lg" src="./assets/images/no-image.svg" alt="profile image" *ngIf="Image == null">

										<img class="rounded-circle img-lg" src="{{Image}}" alt="profile image" *ngIf="Image != null">
										<label class="edit-imgs" for="edi-pro">
											<i class="icon-pencil"></i>
											<input type="file" id="edi-pro" style="visibility:hidden; width:0px; height:0px;" formControlName="profile_image" name="profile_image" (change)="onImageChanged($event)"  name="file" ngf-pattern="'image/*" accept="image/*" ngf-max-size="200MB" class="dropify" filepreview="filepreview1" fileinput="file" ngf-select>
										</label>
									 </div>

									</div>
								  </div>
								</div>
							  </div>
							</div> -->
                                  <div class="col-md-12">
                                    <div class="profile-body pt-0">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div
                                            class="tab-content tab-body"
                                            id="profile-log-switch "
                                          >
                                            <div
                                              class="tab-pane fade show active"
                                              id="user-profile-info "
                                            >
                                              <div class="info-sma">
                                                <h4 class="brdr-db">
                                                  Basic Information
                                                </h4>

                                                <div class="row">
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <label
                                                        for="exampleInputEmail1"
                                                        >First Name</label
                                                      >
                                                      <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder=""
                                                        formControlName="firstName"
                                                        name="firstName"
                                                      />
                                                      <span
                                                        *ngIf="
                                                          authForm.controls.firstName.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls
                                                            .firstName.touched
                                                        "
                                                      >
                                                        <p
                                                          style="
                                                            color: #f70101 !important;
                                                          "
                                                        >
                                                          *Field First Name is
                                                          required!
                                                        </p>
                                                      </span>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <label
                                                        for="exampleInputEmail1"
                                                        >Last Name</label
                                                      >
                                                      <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder=""
                                                        formControlName="lastName"
                                                        name="lastName"
                                                      />
                                                      <span
                                                        *ngIf="
                                                          authForm.controls.lastName.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls
                                                            .lastName.touched
                                                        "
                                                      >
                                                        <p
                                                          style="
                                                            color: #f70101 !important;
                                                          "
                                                        >
                                                          *Field Last Name is
                                                          required!
                                                        </p>
                                                      </span>
                                                    </div>
                                                  </div>

                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <label
                                                        for="exampleInputEmail1"
                                                        >User Name</label
                                                      >
                                                      <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder=""
                                                        formControlName="username"
                                                        name="username"
                                                      />
                                                      <span
                                                        *ngIf="
                                                          authForm.controls.username.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls
                                                            .username.touched
                                                        "
                                                      >
                                                        <p
                                                          style="
                                                            color: #f70101 !important;
                                                          "
                                                        >
                                                          *Field User Name is
                                                          required!
                                                        </p>
                                                      </span>
                                                    </div>
                                                  </div>

                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <label
                                                        for="exampleInputEmail1"
                                                        >Email Address</label
                                                      >
                                                      <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder=""
                                                        formControlName="email"
                                                        name="email"
                                                      />
                                                      <span
                                                        *ngIf="
                                                          authForm.controls.email.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls
                                                            .email.touched
                                                        "
                                                      >
                                                        <p
                                                          style="
                                                            color: #f70101 !important;
                                                          "
                                                        >
                                                          *Field email is
                                                          required!
                                                        </p>
                                                      </span>

                                                      <span
                                                        *ngIf="
                                                          authForm.controls.email.hasError(
                                                            'email'
                                                          )
                                                        "
                                                      >
                                                        <p
                                                          style="
                                                            color: #f70101 !important;
                                                          "
                                                        >
                                                          *Email must be a valid
                                                          email address!
                                                        </p>
                                                      </span>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="row">
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <label
                                                        for="exampleInputEmail1"
                                                        >Gender</label
                                                      >
                                                      <br />

                                                      <label>
                                                        <input
                                                          type="radio"
                                                          value="Male"
                                                          formControlName="gender"
                                                        />
                                                        <span
                                                          >Male</span
                                                        > </label
                                                      >&nbsp;&nbsp;&nbsp;&nbsp;
                                                      <label>
                                                        <input
                                                          type="radio"
                                                          value="Female"
                                                          formControlName="gender"
                                                        />
                                                        <span>Female</span>
                                                      </label>
                                                      <span
                                                        *ngIf="
                                                          authForm.controls.gender.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls
                                                            .gender.touched
                                                        "
                                                      >
                                                        <p
                                                          style="
                                                            color: #f70101 !important;
                                                          "
                                                        >
                                                          *Please Select the
                                                          Gender!
                                                        </p>
                                                      </span>
                                                    </div>
                                                  </div>

                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <label>DOB</label>
                                                      <br />
                                                      <input
                                                        type="date"
                                                        formControlName="dob"
                                                      />
                                                      <span
                                                        *ngIf="
                                                          authForm.controls.dob.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls.dob
                                                            .touched
                                                        "
                                                      >
                                                        <p
                                                          style="
                                                            color: #f70101 !important;
                                                          "
                                                        >
                                                          *Please select Date of
                                                          Birth!
                                                        </p>
                                                      </span>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="row">
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <label
                                                        for="exampleInputEmail1"
                                                        >Password</label
                                                      >
                                                      <input
                                                        type="password"
                                                        class="form-control"
                                                        placeholder=""
                                                        formControlName="password"
                                                        name="password"
                                                      />
                                                      <span
                                                        *ngIf="
                                                          authForm.controls.password.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls
                                                            .password.touched
                                                        "
                                                      >
                                                        <p
                                                          style="
                                                            color: #f70101 !important;
                                                          "
                                                        >
                                                          *Field password is
                                                          required!
                                                        </p>
                                                      </span>

                                                      <span
                                                        *ngIf="
                                                          authForm.controls.password.hasError(
                                                            'minlength'
                                                          )
                                                        "
                                                      >
                                                        <p
                                                          style="
                                                            color: #f70101 !important;
                                                          "
                                                        >
                                                          *Password must be at
                                                          least 8 characters!
                                                        </p>
                                                      </span>
                                                    </div>
                                                  </div>

                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <label
                                                        for="exampleInputEmail1"
                                                        >Confirm Password</label
                                                      >
                                                      <input
                                                        type="password"
                                                        class="form-control"
                                                        placeholder=""
                                                        formControlName="cpassword"
                                                        name="cpassword"
                                                      />

                                                      <span
                                                        *ngIf="
                                                          authForm.controls.cpassword.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls
                                                            .cpassword.touched
                                                        "
                                                      >
                                                        <p
                                                          style="
                                                            color: #f70101 !important;
                                                          "
                                                        >
                                                          *Field Confirm
                                                          Password is required!
                                                        </p>
                                                      </span>

                                                      <span
                                                        *ngIf="
                                                          authForm.controls.cpassword.hasError(
                                                            'equalTo'
                                                          )
                                                        "
                                                      >
                                                        <p
                                                          style="
                                                            color: #f70101 !important;
                                                          "
                                                        >
                                                          *Password do not
                                                          match!
                                                        </p>
                                                      </span>
                                                    </div>
                                                  </div>
                                                </div>
                                                <!--<h4 class="brdr-db m-t-20">
                                                  Interest Areas &nbsp;
                                                </h4>
                                                <div class="row">
                                                  <div
                                                    class="col-md-6"
                                                    *ngFor="
                                                      let interestAreas of allInterests
                                                    "
                                                  >
                                                    <div class="form-group">
                                                      <input
                                                        type="checkbox"
                                                        data-md-icheck
                                                        (change)="
                                                          selectInterests(
                                                            interestAreas.interest,
                                                            interestAreas._id
                                                          )
                                                        "
                                                      />&nbsp;
                                                      <label>{{
                                                        interestAreas.interest
                                                      }}</label>
                                                    </div>
                                                  </div>
                                                </div>-->
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="sv-cncl-all pull-right m-t-0">
                              <button
                                class="btn btn-success btn-lg"
                                type="submit"
                                [disabled]="!authForm.valid"
                              >
                                Save
                              </button>
                              <a class="btn btn-danger btn-lg" type="button"
                                >Cancel</a
                              >
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                  <!-- <form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
						<input id="cc-number" formControlName="creditCard" type="tel" autocomplete="cc-number" ccNumber>
						<input id="cc-exp-date" formControlName="expirationDate" type="tel" autocomplete="cc-exp" ccExp>
						<input id="cc-cvc" formControlName="cvc" type="tel" autocomplete="off" ccCvc>
				</form>

                  <div
                    class="tab-pane fade"
                    id="history1"
                    role="tabpanel"
                    aria-labelledby="contact-tab1"
                  >
                    <div class="dtls-crs">
                      <form
                        [formGroup]="creditCardForm"
                        (ngSubmit)="saveCustomerDetails(creditCardForm.value)"
                      >
                        <h4 class="brdr-db m-t-20">Payment Settings</h4>
                        <div class="row m-b-20">
                          <div class="col-8">
                            <div *ngIf="validateCard == true">
                              <p style="color: red">*Not a Valid Card Number</p>
                            </div>

                            <div *ngIf="validateExpMonthYear == true">
                              <p style="color: red">
                                *Not a Valid Exp. Month Or Year
                              </p>
                            </div>

                            <div *ngIf="validateCvv == true">
                              <p style="color: red">*Not a Valid Card CVV</p>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label for="exampleInputEmail1"
                                    >Card Number</label
                                  >
                                   <input type="name" class="form-control" formControlName="number" maxlength="19">
                                  <input
                                    id="cc-number"
                                    class="form-control"
                                    formControlName="number"
                                    type="tel"
                                    autocomplete="cc-number"
                                    ccNumber
                                  />
                                </div>
                              </div>

                              <div
                                *ngIf="submitted && form.number.errors"
                                class="invalid-feedback"
                              >
                                <div *ngIf="form.number.errors.required">
                                  <p style="color: red">
                                    *Card Number is required!
                                  </p>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label for="exampleInputEmail1"
                                    >Card Holder's Name</label
                                  >
                                  <input
                                    type="name"
                                    class="form-control"
                                    formControlName="cardName"
                                  />
                                </div>
                              </div>

                              <div
                                *ngIf="submitted && form.cardName.errors"
                                class="invalid-feedback"
                              >
                                <div *ngIf="form.cardName.errors.required">
                                  <p style="color: red">
                                    *Card Holder Name is required!
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="exampleInputEmail1"
                                    >MM/YYYY</label
                                  >
                                  <input type="name" class="form-control" placeholder="MM" formControlName="expMonth" maxlength="2">
                                    id="cc-exp-date"
                                    class="form-control"
                                    formControlName="expMonth"
                                    type="tel"
                                    autocomplete="cc-exp"
                                    ccExp
                                  />
                                </div>
                              </div>
                            </div>

                            <div
                              *ngIf="submitted && form.expMonth.errors"
                              class="invalid-feedback"
                            >
                              <div *ngIf="form.expMonth.errors.required">
                                <p style="color: red">*Month is required!</p>
                              </div>
                            </div>

                            <div
                              *ngIf="submitted && form.expYear.errors"
                              class="invalid-feedback"
                            >
                              <div *ngIf="form.expYear.errors.required">
                                <p style="color: red">*Year is required!</p>
                              </div>
                            </div>
                             </form>
                          </div>
                        </div>
                        <div class="sv-cncl-all m-t-0">
                          <button
                            class="btn btn-success btn-lg"
                            type="submit"
                            [disabled]="!creditCardForm.valid"
                          >
                            Save
                          </button>
                          <button class="btn btn-danger btn-lg" type="button">
                            Cancel
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->

                  <!-- partial:partials/_footer.html -->
                  <footer class="footer">
                    <div class="container-fluid clearfix">
                      <span
                        class="text-muted d-block text-center text-sm-left d-sm-inline-block"
                        >Copyright © 2019. All rights reserved.</span
                      >
                      <span
                        class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
                        >Designed By Indi IT Solutions.
                      </span>
                    </div>
                  </footer>
                </div>
              </div>

              <div
                class="modal fade"
                id="remarks"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-sm modl-shad" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <h4>Remarks</h4>
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book.
                      </p>
                    </div>
                    <div class="modal-footer pull-left">
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div
    class="modal fade"
    id="delete-pop"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h5>Are you sure wants to delete it ?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            No
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="add-card"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Card</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Card Number</label>
                  <input
                    type="name"
                    class="form-control"
                    placeholder=""
                    value=""
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Card Holder's Name</label>
                  <input
                    type="name"
                    class="form-control"
                    placeholder=""
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">MM/YY</label>
                  <input
                    type="name"
                    class="form-control"
                    placeholder=""
                    value=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">CVV</label>
                  <input
                    type="name"
                    class="form-control"
                    placeholder=""
                    value=""
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="edit-card"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Payment Card</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Card Number</label>
                  <input
                    type="name"
                    class="form-control"
                    placeholder=""
                    value="1111 3333 4444 5666"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Card Holder's Name</label>
                  <input
                    type="name"
                    class="form-control"
                    placeholder=""
                    value="John Smith"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">MM/YY</label>
                  <input
                    type="name"
                    class="form-control"
                    placeholder=""
                    value="05/2032"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">CVV</label>
                  <input
                    type="name"
                    class="form-control"
                    placeholder=""
                    value="134"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success">Save Changes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
