<div class="container-scroller">
<app-header></app-header>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_sidebar.html -->
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row mb-4">
        <div class="col-12 d-flex align-items-center justify-content-between">
          <h4 class="page-title">Add Vendor</h4>
        </div>
      </div>
      <div class="row profile-page">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <ul class="nav nav-tabs tab-basic" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab1" data-toggle="tab" href="#whoweare1" role="tab" aria-controls="whoweare" aria-selected="true" (click)="Tab('basic')">Basic Info</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#history1" role="tab" aria-controls="history" aria-selected="false" (click)="Tab('address')">Address Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="paymnt-st" data-toggle="tab" href="#payment1" role="tab" aria-controls="payment" aria-selected="false" (click)="Tab('payment')">Payment Details</a>
                </li>
              </ul>
              <div class="tab-content tab-content-basic">
                <form [formGroup]="authForm" class="form-frms" (ngSubmit)="addVendor()">
                <div class="tab-pane fade show active" id="whoweare1" role="tabpanel" aria-labelledby="home-tab1">
                  <div class="row">
                    <div class="profile-page new-on-tb m-t-20">
                      <div class="col-12">
                        <div class="card left-profl">
                          <div class="card-body p-0">
                            <div class="row">
                              <div class="col-4">
                                <div class="card crd-s crds">
                                  <div class="card-body p-0">
                                    <div class="profile-header text-white d-none d-md-block head-s">
                                      <div class="d-flex justify-content-around">
                                        <div class="profile-info d-flex justify-content-center align-items-md-center set-pos-s">
                                          <img class="rounded-circle img-lg" src="./assets/images/no-image.svg" alt="profile image" *ngIf="Image == null">

                                          <img class="rounded-circle img-lg" src="{{Image}}" alt="profile image" *ngIf="Image != null">
                                          <label class="edit-imgs" for="edi-pro">
                                          <i class="icon-pencil"></i>
                                          <input type="file" id="edi-pro" style="visibility:hidden; width:0px; height:0px;" formControlName="profile_image" name="profile_image" (change)="onImageChanged($event)"  name="file" ngf-pattern="'image/*" accept="image/*" ngf-max-size="200MB" class="dropify" filepreview="filepreview1" fileinput="file" ngf-select>
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-8">
                                <div class="profile-body pt-0">
                                  <div class="row ">
                                    <div class="col-md-12">
                                      <div class="tab-content tab-body " id="profile-log-switch ">
                                        <div class="tab-pane fade show active " id="user-profile-info ">
                                          <div class="info-sma">
                                            <h4 class="brdr-db"> Basic Information </h4>
                                            <div class="row">
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <label for="exampleInputEmail1">Restaurant Name</label>
                                                  <input type="text" class="form-control" placeholder=""formControlName="restaurant_name" name="restaurant_name" [ngClass]="(authForm.controls.restaurant_name.hasError('required') && authForm.controls.restaurant_name.touched )? 'has-error' : ''">
                                                  <span *ngIf="authForm.controls.restaurant_name.hasError('required') &&    authForm.controls.restaurant_name.touched">
                                                    <p style="color:#f70101 !important;">Field restaurant name is required!</p>
                                                  </span>
                                                </div>
                                              </div>
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <label for="exampleInputEmail1">Email Address</label>
                                                  <input type="text" class="form-control" placeholder=""formControlName="email" name="email" [ngClass]="(authForm.controls.email.hasError('required') && authForm.controls.email.touched )? 'has-error' : ''">
                                                  <span *ngIf="authForm.controls.email.hasError('required') &&    authForm.controls.email.touched">
                                                    <p style="color:#f70101 !important;">Field email is required!</p>
                                                  </span>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <label for="exampleInputEmail1">Phone Number</label>
                                                  <input type="text" class="form-control" placeholder="" formControlName="contact" name="contact" [ngClass]="(authForm.controls.contact.hasError('required') && authForm.controls.contact.touched )? 'has-error' : ''">
                                                  <span *ngIf="authForm.controls.contact.hasError('required') &&    authForm.controls.contact.touched">
                                                    <p style="color:#f70101 !important;">Field contact number is required!</p>
                                                  </span>
                                                </div>
                                              </div>
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <label for="exampleInputEmail1">Password</label>
                                                  <input type="password" class="form-control" placeholder="" formControlName="password" name="password" [ngClass]="(authForm.controls.contact.hasError('required') && authForm.controls.contact.touched )? 'has-error' : ''">
                                                  <span *ngIf="authForm.controls.password.hasError('required') &&    authForm.controls.password.touched">
                                                    <p style="color:#f70101 !important;">Field password is required!</p>
                                                  </span>
                                                </div>
                                              </div>
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <label for="exampleInputEmail1">Opening Hours</label>
                                                  <input type="time" class="form-control" placeholder="" formControlName="opening_hours" name="opening_hours" [ngClass]="(authForm.controls.opening_hours.hasError('required') && authForm.controls.opening_hours.touched )? 'has-error' : ''">
                                                  <span *ngIf="authForm.controls.opening_hours.hasError('required') &&    authForm.controls.opening_hours.touched">
                                                    <p style="color:#f70101 !important;">Field opening hours is required!</p>
                                                  </span>
                                                </div>
                                              </div>
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <label for="exampleInputEmail1">Closing Hours </label>
                                                  <input type="time" class="form-control" placeholder="" formControlName="closing_hours" name="closing_hours" [ngClass]="(authForm.controls.closing_hours.hasError('required') && authForm.controls.closing_hours.touched )? 'has-error' : ''">
                                                  <span *ngIf="authForm.controls.closing_hours.hasError('required') &&    authForm.controls.closing_hours.touched">
                                                    <p style="color:#f70101 !important;">Field closing hours is required!</p>
                                                  </span>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-md-6">
                                                <div class="form-check form-check-flat">
                                                  <label class="form-check-label bold-labl">
                                                  <input type="checkbox" class="form-check-input" formControlName="disable_ordering" name="disable_ordering" [ngClass]="(authForm.controls.disable_ordering.hasError('required') && authForm.controls.disable_ordering.touched )? 'has-error' : ''">
                                                  Disabled Ordering
                                                  <i class="input-helper"></i></label>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="sv-cncl-all pull-right m-t-0">
                          <button  class="btn btn-success btn-lg" type="submit" [disabled]="!authForm.valid" >Save</button>
                          <a  class="btn btn-danger btn-lg" type="button">Cancel</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="history1" role="tabpanel" aria-labelledby="contact-tab1">
                  <div class="dtls-crs">
                    <h4 class="brdr-db m-t-20"> Address Settings </h4>
                    <div class="row m-b-20">
                      <div class="col-8">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Address Line 1</label>
                              <input type="name" class="form-control" placeholder="" value=""formControlName="address_line_1" name="address_line_1" [ngClass]="(authForm.controls.address_line_1.hasError('required') && authForm.controls.address_line_1.touched )? 'has-error' : ''">
                              <span *ngIf="authForm.controls.address_line_1.hasError('required') &&    authForm.controls.address_line_1.touched">
                                <p style="color:#f70101 !important;">Field address line 1 is required!</p>
                              </span>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Address Line 2</label>
                              <input type="name" class="form-control" placeholder="" value=""formControlName="address_line_2" name="address_line_2" [ngClass]="(authForm.controls.address_line_2.hasError('required') && authForm.controls.address_line_2.touched )? 'has-error' : ''">
                              <span *ngIf="authForm.controls.address_line_2.hasError('required') &&    authForm.controls.address_line_2.touched">
                                <p style="color:#f70101 !important;">Field address line 2 is required!</p>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="exampleInputEmail1">City</label>
                              <input type="name" class="form-control" placeholder="" value=""formControlName="city" name="city" [ngClass]="(authForm.controls.city.hasError('required') && authForm.controls.city.touched )? 'has-error' : ''">
                              <span *ngIf="authForm.controls.city.hasError('required') &&    authForm.controls.city.touched">
                                <p style="color:#f70101 !important;">Field city is required!</p>
                              </span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="exampleInputEmail1">State</label>
                              <input type="name" class="form-control" placeholder="" value=""formControlName="state" name="state" [ngClass]="(authForm.controls.state.hasError('required') && authForm.controls.state.touched )? 'has-error' : ''">
                              <span *ngIf="authForm.controls.state.hasError('required') &&    authForm.controls.state.touched">
                                <p style="color:#f70101 !important;">Field state is required!</p>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Zip Code</label>
                              <input type="name" class="form-control" placeholder="" value=""formControlName="zip_code" name="zip_code" [ngClass]="(authForm.controls.zip_code.hasError('required') && authForm.controls.zip_code.touched )? 'has-error' : ''">
                              <span *ngIf="authForm.controls.zip_code.hasError('required') &&    authForm.controls.zip_code.touched">
                                <p style="color:#f70101 !important;">Field zip code is required!</p>
                              </span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Country</label>
                              <select class="form-control"formControlName="country" name="country" [ngClass]="(authForm.controls.country.hasError('required') && authForm.controls.country.touched )? 'has-error' : ''">
                                <option> Select One </option>
                                <option> USA </option>
                                <option> Canada </option>
                                <option> India </option>
                                <option> UAE </option>
                                <option> Japan </option>
                                <option> China </option>
                              </select>
                              <span *ngIf="authForm.controls.country.hasError('required') &&    authForm.controls.country.touched">
                                <p style="color:#f70101 !important;">Field country is required!</p>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sv-cncl-all m-t-0">
                      <button  class="btn btn-success btn-lg" type="submit" [disabled]="!authForm.valid">Save</button>
                      <a  class="btn btn-danger btn-lg" type="button">Cancel</a>
                    </div>
                  </div>
                </div>
                </form>
                <div class="tab-pane fade" id="payment1" role="tabpanel" aria-labelledby="paymnt-st">
                  <h4 class="brdr-db m-t-20"> Payment Methods </h4>
                  <div class="row m-b-20">
                    <div class="col-6">
                      <div class="card-paypls">
                        <h4> Paypal  
                          <img src="assets/images/pay1.png" class="pull-right" width="20px"> 
                        </h4>
                        <div class="body-pays">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Email Address</label>
                                <input type="name" class="form-control" placeholder="" value="">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Secret Key :</label>
                                <input type="name" class="form-control" placeholder="" value="">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Token Key :</label>
                                <input type="name" class="form-control" placeholder="" value="">
                              </div>
                            </div>
                            <div class="form-radio">
                              <label class="form-check-label bold">
                              <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value=""> Set as Default
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="card-paypls">
                        <h4> Stripe  
                          <img src="assets/images/pay2.png" class="pull-right" width="25px"> 
                        </h4>
                        <div class="body-pays">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Email Address</label>
                                <input type="name" class="form-control" placeholder="" value="">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Secret Key :</label>
                                <input type="name" class="form-control" placeholder="" value="">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Token Key :</label>
                                <input type="name" class="form-control" placeholder="" value="">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-radio">
                                <label class="form-check-label bold">
                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked=""> Set as Default
                                <i class="input-helper"></i></label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sv-cncl-all m-t-0">
                    <button  class="btn btn-success btn-lg" type="submit" [disabled]="!authForm.valid">Save</button>
                    <a  class="btn btn-danger btn-lg" type="button">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
      <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed By Indi IT Solutions.
        </span>
      </div>
    </footer>
  </div>
</div>
<div class="modal fade" id="remarks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modl-shad" role="document">
    <div class="modal-content" >
      <div class="modal-body">
        <h4> Remarks </h4>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
      </div>
      <div class="modal-footer pull-left">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="delete-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5> Are you sure wants to delete it ? </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="add-card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Card Number</label>
                <input type="name" class="form-control" placeholder="" value="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Card Holder's Name</label>
                <input type="name" class="form-control" placeholder="" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">MM/YY</label>
                <input type="name" class="form-control" placeholder="" value=""> 
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">CVV</label>
                <input type="name" class="form-control" placeholder="" value="">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" [disabled]="!authForm.valid">Save</button>
        <a type="button" class="btn btn-danger" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="edit-card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Payment Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group"> 
                <label for="exampleInputEmail1">Card Number</label>
                <input type="name" class="form-control" placeholder="" value="1111 3333 4444 5666">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Card Holder's Name</label>
                <input type="name" class="form-control" placeholder="" value="John Smith">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">MM/YY</label>
                <input type="name" class="form-control" placeholder="" value="05/2032"> 
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">CVV</label>
                <input type="name" class="form-control" placeholder="" value="134">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" [disabled]="!authForm.valid">Save Changes</button>
        <a type="button" class="btn btn-danger" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>