<nav class="sidebar sidebar-offcanvas sidebar-dark" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <img alt="profile image" *ngIf="profileData?.profile_image == null" />

      <img alt="profile image" *ngIf="profileData?.profile_image != null" />

      <p class="text-center font-weight-medium">
        {{ profileData?.fname }} {{ profileData?.lname }}
      </p>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/dashboard"
        routerLinkActive="active"
        href="javascript:;"
      >
        <i class="menu-icon icon-home"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/user" href="javascript:;">
        <i class="menu-icon icon-people"></i>
        <span class="menu-title">Users</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/questions-answers" href="javascript:;">
        <i class="menu-icon icon-docs"></i>
        <span class="menu-title">Diffrent Levels</span>
      </a>
    </li>

    <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/profile" href="javascript:;">
              <i class="menu-icon icon-user"></i>
              <span class="menu-title">Profile Settings</span>
            </a>
          </li> -->

    <li class="nav-item">
      <a class="nav-link" routerLink="/transactions" href="javascript:;">
        <i class="menu-icon icon-handbag"></i>
        <span class="menu-title">User Points</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/vendors">
        <i class="menu-icon icon-key"></i>
        <span class="menu-title">Privacy Policies</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/food-lists">
        <i class="menu-icon icon-folder"></i>
        <span class="menu-title">Terms & Conditions</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" click="logout()">
        <i class="menu-icon icon-logout"></i>
        <span class="menu-title">Logout</span>
      </a>
    </li>
  </ul>
</nav>
