<div class="container-scroller">
  <app-header></app-header>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row mb-4">
          <div class="col-12 d-flex align-items-center justify-content-between">
            <h4 class="page-title">Edit Customer</h4>
          </div>
        </div>
        <div class="row profile-page">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <ul class="nav nav-tabs tab-basic" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="home-tab1"
                      data-toggle="tab"
                      href="#whoweare1"
                      role="tab"
                      aria-controls="whoweare"
                      aria-selected="true"
                      >Basic Info</a
                    >
                  </li>

                  <!-- <li class="nav-item">
				  <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#history1" role="tab" aria-controls="history" aria-selected="false">Payment Details</a>
				</li> -->
                </ul>
                <div class="tab-content tab-content-basic">
                  <div
                    class="tab-pane fade show active"
                    id="whoweare1"
                    role="tabpanel"
                    aria-labelledby="home-tab1"
                  >
                    <div class="row">
                      <form
                        [formGroup]="authForm"
                        class="form-frms"
                        (ngSubmit)="updateCustomer()"
                      >
                        <div class="profile-page new-on-tb m-t-20">
                          <div class="col-12">
                            <div class="card left-profl">
                              <div class="card-body p-0">
                                <div class="row">
                                  <div class="col-4">
                                    <div class="card crd-s">
                                      <div class="card-body p-0">
                                        <div
                                          class="profile-header text-white d-none d-md-block"
                                        >
                                          <div
                                            class="d-flex justify-content-around"
                                          >
                                            <div
                                              class="profile-info d-flex justify-content-center align-items-md-center set-pos-s"
                                            >
                                              <img
                                                class="rounded-circle img-lg"
                                                [attr.src]="
                                                  details.image
                                                    ? details.image
                                                    : 'assets/img/user-dummy.png'
                                                "
                                              />

                                              <!-- <label class="edit-imgs" for="edi-pro">
									<i class="icon-pencil"></i>
									<input type="file" id="edi-pro" style="visibility:hidden; width:0px; height:0px;" name="profile_image" (change)="onImageChanged($event)"  name="file" ngf-pattern="'image/*" accept="image/*" ngf-max-size="200MB" class="dropify" filepreview="filepreview1" fileinput="file" ngf-select>
								</label> -->
                                            </div>
                                          </div>
                                        </div>
                                        <!-- <div class="profile-body pt-0">
							<div class="row ">
							  <div class="col-12 col-md-12">
								<div class="tab-content tab-body " id="profile-log-switch ">
								  <div class="tab-pane fade show active " id="user-profile-info ">

										<table class="table table-borderless w-100">
											<tr>
												<td><strong>Name :</strong> {{name}}</td>
											</tr>
											<tr>
												<td><strong>Email :</strong> {{email}}</td>
											</tr>
										</table>

									</div>
								  </div>
							  </div>
							   </div>
						  </div> -->
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-8">
                                    <div class="profile-body pt-0">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div
                                            class="tab-content tab-body"
                                            id="profile-log-switch "
                                          >
                                            <div
                                              class="tab-pane fade show active"
                                              id="user-profile-info "
                                            >
                                              <div class="info-sma">
                                                <h4 class="brdr-db">
                                                  Basic Information
                                                </h4>
                                                <div class="row">
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <label
                                                        for="exampleInputEmail1"
                                                        >First Name</label
                                                      >
                                                      <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="Larry"
                                                        formControlName="firstName"
                                                        name="firstName"
                                                        [ngClass]="
                                                          authForm.controls.firstName.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls
                                                            .firstName.touched
                                                            ? 'has-error'
                                                            : ''
                                                        "
                                                      />
                                                      <span
                                                        *ngIf="
                                                          authForm.controls.firstName.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls
                                                            .firstName.touched
                                                        "
                                                      >
                                                        <p
                                                          style="
                                                            color: #f70101 !important;
                                                          "
                                                        >
                                                          *Field First name is
                                                          required!
                                                        </p>
                                                      </span>
                                                    </div>
                                                  </div>
                                                </div>

                                                <div class="row">
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <label
                                                        for="exampleInputEmail1"
                                                        >Last Name</label
                                                      >
                                                      <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="Larry"
                                                        formControlName="lastName"
                                                        name="lastName"
                                                        [ngClass]="
                                                          authForm.controls.lastName.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls
                                                            .lastName.touched
                                                            ? 'has-error'
                                                            : ''
                                                        "
                                                      />
                                                      <span
                                                        *ngIf="
                                                          authForm.controls.lastName.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls
                                                            .lastName.touched
                                                        "
                                                      >
                                                        <p
                                                          style="
                                                            color: #f70101 !important;
                                                          "
                                                        >
                                                          *Field Last Name is
                                                          required!
                                                        </p>
                                                      </span>
                                                    </div>
                                                  </div>
                                                </div>

                                                <div class="row">
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <label
                                                        for="exampleInputEmail1"
                                                        >User Name</label
                                                      >
                                                      <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="Larry"
                                                        formControlName="username"
                                                        name="username"
                                                        [ngClass]="
                                                          authForm.controls.username.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls
                                                            .username.touched
                                                            ? 'has-error'
                                                            : ''
                                                        "
                                                      />
                                                      <span
                                                        *ngIf="
                                                          authForm.controls.username.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls
                                                            .username.touched
                                                        "
                                                      >
                                                        <p
                                                          style="
                                                            color: #f70101 !important;
                                                          "
                                                        >
                                                          *Field User name is
                                                          required!
                                                        </p>
                                                      </span>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="row">
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <label
                                                        for="exampleInputEmail1"
                                                        >Email Address</label
                                                      >
                                                      <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="larry@example.com"
                                                        formControlName="email"
                                                        name="email"
                                                        [ngClass]="
                                                          authForm.controls.email.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls
                                                            .email.touched
                                                            ? 'has-error'
                                                            : ''
                                                        "
                                                      />
                                                      <span
                                                        *ngIf="
                                                          authForm.controls.email.hasError(
                                                            'required'
                                                          ) &&
                                                          authForm.controls
                                                            .email.touched
                                                        "
                                                      >
                                                        <p
                                                          style="
                                                            color: #f70101 !important;
                                                          "
                                                        >
                                                          *Field email is
                                                          required!
                                                        </p>
                                                      </span>
                                                    </div>
                                                  </div>
                                                </div>

                                                <!-- <h4 class="brdr-db m-t-20"> Interest Areas &nbsp;</h4>
											<div class="row">
												<div class="col-md-6" *ngFor="let interestAreas of allInterests">
													<div class="form-group">

														<input type="checkbox" [checked]="interestAreas.checked" data-md-icheck (change)="selectInterests(interestAreas.interest,interestAreas._id)"/>&nbsp;
														<label>{{interestAreas.interest}}</label>

													</div>
												</div>
											</div>-->

                                                <!--
										<h4 class="brdr-db m-t-20"> Address &nbsp; <small>(Home) </small> </h4>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="exampleInputEmail1">House/ Flat no.</label>
														<input type="text" class="form-control" placeholder="123 Demo Street" formControlName="address" name="address" [ngClass]="(authForm.controls.address.hasError('required') && authForm.controls.address.touched )? 'has-error' : ''">
														<span *ngIf="authForm.controls.address.hasError('required') &&    authForm.controls.address.touched">
	              											<p style="color:#f70101 !important;">Field house/flat no. is required!</p>
	       											 	</span>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="exampleInputEmail1">Landmark</label>
														<input type="text" class="form-control" placeholder="Near Power House" formControlName="landmark" name="landmark" [ngClass]="(authForm.controls.landmark.hasError('required') && authForm.controls.landmark.touched )? 'has-error' : ''">
														<span *ngIf="authForm.controls.landmark.hasError('required') &&    authForm.controls.landmark.touched">
	              											<p style="color:#f70101 !important;">Field landmark is required!</p>
	       											 	</span>
													</div>
												</div>
											</div> -->
                                                <!-- <div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="exampleInputEmail1">Country</label>
														<select class="form-control" formControlName="country" name="country" [ngClass]="(authForm.controls.country.hasError('required') && authForm.controls.country.touched )? 'has-error' : ''">
															<option value=""> Select One </option>
															<option value="india">India</option>
															<option value="canada">Canada</option>
															<option value="usa">USA</option>
														</select>
														<span *ngIf="authForm.controls.country.hasError('required') &&    authForm.controls.country.touched">
              											<p style="color:#f70101 !important;">Field country is required!</p>
       											 	</span>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="exampleInputEmail1">City</label>
														<input type="text" class="form-control" placeholder="California" formControlName="city" name="city" [ngClass]="(authForm.controls.city.hasError('required') && authForm.controls.city.touched )? 'has-error' : ''">
														<span *ngIf="authForm.controls.city.hasError('required') &&    authForm.controls.city.touched">
	              											<p style="color:#f70101 !important;">Field city is required!</p>
	       											 	</span>
													</div>
												</div>
											</div> -->
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="sv-cncl-all pull-right m-t-0">
                              <button
                                class="btn btn-success btn-lg"
                                type="submit"
                                [disabled]="!authForm.valid"
                              >
                                Save
                              </button>
                              <a
                                class="btn btn-danger btn-lg"
                                type="button"
                                (click)="backView()"
                                >Cancel</a
                              >
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                  <!-- <div class="tab-pane fade" id="history1" role="tabpanel" aria-labelledby="contact-tab1">
					<div class="dtls-crs">
						<h4 class="brdr-db m-t-20"> Payment Settings  <a (click)="_addCardForm()" data-toggle="modal" data-target="#add-card" class="add-crd-new"> Add New Card </a> </h4>
						<div class="row m-b-20" *ngIf="details?.paymentInfo?.length > 0">
							<div class="col-4" *ngFor="let paymentDetails of details?.paymentInfo">
								<div class="card-dtls">
									<span class="rty-cv">

										 <img src="assets/images/card.png"  class="card-logi"> <b> CVV : </b> 123  -->
                  <!--<img *ngIf="paymentDetails.cardtype=='jcb' || paymentDetails.cardtype=='JCB'" src="assets/images/jcb.jpeg"  class="card-logi">
										<img *ngIf="paymentDetails.cardtype=='Visa' || paymentDetails.cardtype=='visa'" src="assets/images/visa.png"  class="card-logi">
										<img *ngIf="paymentDetails.cardtype=='Discover' || paymentDetails.cardtype=='discover'" src="assets/images/discover.jpg"  class="card-logi">
										<img *ngIf="paymentDetails.cardtype=='amex'" src="assets/images/amex.jpg"  class="card-logi">
										<img *ngIf="paymentDetails.cardtype!='Visa' && paymentDetails.cardtype!='Discover' && paymentDetails.cardtype!='visa' && paymentDetails.cardtype!='discover' &&  paymentDetails.cardtype!='JCB' &&  paymentDetails.cardtype!='jcb' && paymentDetails.cardtype!='amex'" src="assets/images/card.png"  class="card-logi">

									</span>
									<div class="card-numb"> {{paymentDetails.card_number}} </div>
									<span class="hold-nm"> {{paymentDetails.name}} </span>
									<span class="exprt"> Expiry Date: {{paymentDetails.expMonth}}/{{paymentDetails.expYear}} </span>

									<a (click)="_getCardDetails(paymentDetails)" data-toggle="modal" data-target="#edit-card" class="edt-card-pop"> <i class="icon-pencil"></i> </a>
									<a href="javascript:void(0)" data-toggle="modal" data-target="#delete-pop" class="remv-card-pop" > <i class="icon-trash" (click)="deleteCard(paymentDetails.id)"></i> </a>
								</div>
							</div>
						</div>

						<div class="row m-b-20" *ngIf="details?.paymentInfo?.length == 0">
							<div class="col-4">
								<div class="card-dtls">


									NO CARDS ADDED YET!

								</div>
							</div>
						</div>


					</div>
				</div>
			  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span
              class="text-muted d-block text-center text-sm-left d-sm-inline-block"
              >Copyright © 2019. All rights reserved.</span
            >
            <span
              class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
              >Designed By Indi IT Solutions.
            </span>
          </div>
        </footer>
      </div>
    </div>

    <div
      class="modal fade"
      id="remarks"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-sm modl-shad" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h4>Remarks</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </p>
          </div>
          <!-- <div class="modal-footer pull-left">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">

      <div class="modal-body">
		<h5> Are you sure wants to delete it ? </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="_deleteCard()">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="closepop">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
	  </div>
	  <form [formGroup]="addNewForm" (ngSubmit)="_saveCardDetails(addNewForm)">
      <div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="exampleInputEmail1">Card Number</label>
					 <input type="name" class="form-control" placeholder="" value="">
					<input id="cc-number" class="form-control" formControlName="number" type="tel" autocomplete="cc-number" ccNumber>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label for="exampleInputEmail1">Card Holder's Name</label>
					<input type="name" class="form-control"  formControlName="cardName">
				</div>
			</div>
		</div>
		 <div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="exampleInputEmail1">MM/YY</label>
					<input id="cc-exp-date" class="form-control" formControlName="expMonth" type="tel" autocomplete="cc-exp" ccExp>
				</div>
			</div>
		</div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" [disabled]="!addNewForm.valid">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="closemodal">Cancel</button>
	  </div>
	</form>
    </div>
  </div>
</div>
<div class="modal fade" id="edit-card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Payment Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
	  </div>
	  <form [formGroup]="editCreditCardForm" (ngSubmit)="editCustomerCard(editCreditCardForm)">
      <div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="exampleInputEmail1">Card Number</label>
					<input class="form-control" placeholder="Card Number" formControlName="number" type="tel" autocomplete="cc-number" ccNumber>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label for="exampleInputEmail1">Card Holder's Name</label>
					<input type="name" class="form-control" placeholder="Card Holder Name"  formControlName="cardName" >
				</div>
			</div>
		</div>
		 <div class="row">
			<div class="col-md-8">
				<div class="form-group">
					<label for="exampleInputEmail1">MM/YY</label>
					<input class="form-control" placeholder="Expiry Month & Year" formControlName="expMonth" type="tel" autocomplete="cc-exp" ccExp>
				</div>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" [disabled]="!editCreditCardForm.valid">Save Changes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="closemodal2">Cancel</button>
	  </div>
	</form>-->
        </div>
      </div>
    </div>
  </div>
</div>
