<div class="container-scroller">
<app-header></app-header>
      <!-- partial -->
	<div class="container-fluid page-body-wrapper">
     
      <!-- partial:partials/_sidebar.html -->
      <app-sidebar></app-sidebar>
       <div class="main-panel">
        <div class="content-wrapper">
		 <div class="row mb-4">
            <div class="col-12 d-flex align-items-center justify-content-between">
              <h4 class="page-title">Reports</h4>
            </div>
          </div>
		  <div class="row">
			<div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body d-flex flex-column">
                  <h4 class="card-title">User Stats</h4>
                  <p class="card-description">Activity from 1 June 2018 to 1 June 2019</p>
                  <div class="mt-auto" id="dashboard-sales-chart"></div>
                </div>
              </div>
            </div>
		  </div>
          <div class="row">
			<div class="col-md-5 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h4 class="card-title">Orders Status</h4>
                    <p class="text-muted d-none d-md-block">29-July-2019</p>
                  </div>
                  <div class="chart-container">
                    <canvas class="mt-4" id="sales-status" height="150"></canvas>
                    <div id="sales-status-legend" class="legend-con mt-4 mb-0"></div>
                  </div>
                </div>
              </div>
            </div>
			<div class="col-md-7 grid-margin stretch-card">
			  <div class="card">
				<div class="card-body">
				  <h4 class="card-title">Total Yearly Sales</h4>
				  <div class="d-flex justify-content-between pb-4">
					<p class="card-description mb-0 d-none d-sm-block">Activity from 1 June 2018 to 1 June 2019</p>
					<div id="product-sales-legend"></div>
				  </div>
				  <canvas id="product-sales" height="150"></canvas>
				</div>
			  </div>
			</div>
		  </div>
      </div> 
           
           <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed By Indi IT Solutions.
            
            </span>
          </div>
        </footer>
      
	  </div>
	  </div>
