<div class="login-bg ">
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100 mx-auto">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
			<div class="forgt-txt">	
				<h4> Forgot Password </h4>
				<p> Don't worry! Just fill in your email and we'll help you reset your password. </p>
			</div>
			  <form action="#">
                <div class="form-group">
                  <label class="label">Email Address</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block">Reset Password</button>
                </div>
               <a href="#" class="back-t-lg"> Back to Login! </a>
              </form>
            </div>
            
            <p class="footer-text text-center m-t-10">copyright © 2019. All rights reserved.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  </div>