<div class="container-scroller">
<app-header></app-header>
      <!-- partial -->
	<div class="container-fluid page-body-wrapper">
     
      <!-- partial:partials/_sidebar.html -->
      <app-sidebar></app-sidebar>
       <div class="main-panel">
        <div class="content-wrapper">
		 <div class="row mb-4">
            <div class="col-12 d-flex align-items-center justify-content-between">
              <h4 class="page-title">Food Details</h4>
            </div>
          </div>
          <div class="row profile-page">
			
			<div class="col-md-12 grid-margin stretch-card">
             <div class="card">
            <div class="card-body">
          
			  <div class="row">
                <div class="profile-page new-on-tb">
                <div class="col-12">
              <div class="card left-profl mb-0">
                <div class="card-body p-0">
				<div class="row">
                  <div class="col-md-5">
					  <div class="profile-header text-white d-none d-md-block bg-chss" style="background:url('assets/images/food1.jpg');">
						</div>
				  </div>
				  <div class="col-md-7">
                  <div class="profile-body pt-0">
                    <div class="row ">
						<div class="col-md-12">
							<div class="tab-content tab-body " id="profile-log-switch ">
								<div class="tab-pane fade show active " id="user-profile-info ">
									<div class="info-sma">
										<h4 class="brdr-db"> Cheese Pizza <span class="pull-right price-rt"> $ 40.00 </span></h4>
										<div class="ingrd">
											<h5> Ingredients: <span class="pull-right label label-success text-success"><i class=" icon-check"></i> Published </span> </h5>
											<span class="badge badge-success"> Cheese </span>&nbsp;
											<span class="badge badge-success"> Tomato </span>&nbsp;
											<span class="badge badge-success"> Onion </span>&nbsp;
											<span class="badge badge-success"> Garlic </span>
										</div>
										<div class="ingrd m-t-20">
											<h5> Description: </h5>
											<p> Traditional , mild , dry , smooth and complex. Warms you from Within. </p>
											<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
											<p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
										</div>
									</div>
								</div>
							</div>
						</div>
                       </div>
                  </div>
				   </div>
				 </div>
                </div>
              </div>
            </div>
            </div>
              </div>
            </div>
            </div>
			</div>
         
          </div>
      </div> 
           
           <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed By Indi IT Solutions.
            
            </span>
          </div>
        </footer>
      
	  </div>
	  </div>
