<div class="container-scroller">
  <app-header></app-header>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row mb-4">
          <div class="col-12 d-flex align-items-center justify-content-between">
            <h4 class="page-title">Dashboard</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12 card-statistics">
            <div class="row">
              <div
                class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile"
              >
                <div class="card bg-chng-br">
                  <div class="card-body">
                    <div class="d-flex justify-content-between pb-2">
                      <h5>Total Users</h5>
                      <i class="icon-people"></i>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="text-muted">
                        <b>{{ totalcustomers }}</b>
                      </p>
                    </div>
                    <div class="progress progress-md">
                      <div
                        class="progress-bar bg-danger w-25"
                        role="progressbar"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div
                class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile"
              >
                <div class="card bg-chng-br bg-grn-d">
                  <div class="card-body">
                    <div class="d-flex justify-content-between pb-2">
                      <h5>Total Vendors</h5>
                      <i class="icon-user-following"></i>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="text-muted">
                        <b>{{ totalvendors }}</b>
                      </p>
                    </div>
                    <div class="progress progress-md">
                      <div
                        class="progress-bar bg-info w-25"
                        role="progressbar"
                        aria-valuenow="55"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>-->

              <div
                class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile"
              >
                <div class="card bg-chng-br bg-prp-d">
                  <div class="card-body">
                    <div class="d-flex justify-content-between pb-2">
                      <h5>Total Levels</h5>
                      <i class="icon-speech"></i>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="text-muted">
                        <b>{{ all_Questions_Count }}</b>
                      </p>
                    </div>
                    <div class="progress progress-md">
                      <div
                        class="progress-bar bg-primary w-25"
                        role="progressbar"
                        aria-valuenow="45"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile"
              >
                <div class="card bg-chng-br bg-grn-sd">
                  <div class="card-body">
                    <div class="d-flex justify-content-between pb-2">
                      <h5>Total User Points</h5>
                      <i class="icon-handbag"></i>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="text-muted">
                        <b>{{ all_transactionsCount }}</b>
                      </p>
                    </div>
                    <div class="progress progress-md">
                      <div
                        class="progress-bar bg-info w-25"
                        role="progressbar"
                        aria-valuenow="55"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---<div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Total Yearly Sales</h4>
                <div class="d-flex justify-content-between pb-4">
                  <p class="card-description mb-0 d-none d-sm-block">
                    Activity from 1 June 2018 to 1 June 2019
                  </p>
                  <div id="product-sales-legend"></div>
                </div>
                <canvas id="product-sales" height="100"></canvas>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
             <div class="card">
            <div class="card-body">
              <h4 class="card-title">Recent Orders</h4>
              <div class="row">
                <div class="col-12 table-responsive">
                  <table id="order-listing" class="table">
                    <thead>
                      <tr>
                        <th>Order ID</th>
                        <th>Customer Name</th>
                        <th>Price</th>
                        <th>Vendor Name</th>
                        <th>Order Status</th>
                        <th>Action</th>
                       </tr>
                    </thead>
                    <tbody>
						<tr>
							<td>12123</td>
							<td>John Smith</td>
							<td>$ 40.00</td>
							<td>Pizza Hut</td>
							<td>
								<label class="badge badge-info">Delivered</label>
							</td>
							<td>
								<button routerLink="/order-details" type="button" class="btn btn-icons btn-rounded btn-primary"><i class="icon-eye"></i></button>
							</td>
						</tr>
						<tr>
							<td>12122</td>
							<td>Marry James</td>
							<td>$ 10.00</td>
							<td>CCD</td>
							<td>
								<label class="badge badge-warning">Pending</label>
							</td>
							<td>
								<button routerLink="/order-details" type="button" class="btn btn-icons btn-rounded btn-primary"><i class="icon-eye"></i></button>
							</td>
						</tr>
						<tr>
							<td>12121</td>
							<td>Denny James</td>
							<td>$ 30.00</td>
							<td>Domino</td>
							<td>
								<label class="badge badge-danger">Cancelled</label>
							</td>
							<td>
								<button routerLink="/order-details" type="button" class="btn btn-icons btn-rounded btn-primary"><i class="icon-eye"></i></button>
							</td>
						</tr>
						<tr>
							<td>12120</td>
							<td>Christon</td>
							<td>$ 70.00</td>
							<td>KFC</td>
							<td>
								<label class="badge badge-info">Delivered</label>
							</td>
							<td>
								<button routerLink="/order-details" type="button" class="btn btn-icons btn-rounded btn-primary"><i class="icon-eye"></i></button>
							</td>
						</tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
			</div>
          </div>
      </div>-->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span
              class="text-muted d-block text-center text-sm-left d-sm-inline-block"
              >Copyright © 2019. All rights reserved.</span
            >
            <span
              class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
              >Designed By Indi IT Solutions.
            </span>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
