.login-bg {
    /* background: url(../../assets/images/guard.jpg); */
    background-size: cover;
	position:relative;
	z-index:0;
} 
.content-wrapper  {
    background: transparent;
}
.login-bg:after {
    content: "";
    background: rgba(0, 0, 0, 0.58);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.new-rem .checkmark {border-radius:0px; }
.new-rem {margin-bottom:0px; }
.forgt-txt h4 {
    font-weight: 700;
    margin-bottom: 10px;
	    font-size: 20px;
}
.forgt-txt p  {
    font-size: 12px;
    line-height: 19px;
    color: #909090;
    font-weight: 700;
}
a.back-t-lg {
    text-align: center;
    display: block;
    font-size: 13px;
    font-weight: 900;
    color: #269bff;
    margin-bottom: 15px;
    /* margin-top: -5px; */
}