<div class="container-scroller">
<app-header></app-header>
      <!-- partial -->
	<div class="container-fluid page-body-wrapper">
     
      <!-- partial:partials/_sidebar.html -->
      <app-sidebar></app-sidebar>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row mb-4">
            <div class="col-12 d-flex align-items-center justify-content-between">
              <h4 class="page-title">Favorites List 
				 </h4>
				
            </div>
          </div>
        
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
             <div class="card">
            <div class="card-body">
              <h4 class="card-title">Favorites List</h4>
              <div class="row">
                <div class="col-12 table-responsive">
                  <table id="order-listing" class="table">
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Vendor Name</th>
                        <th>Address</th>
                        <th>Ratings</th>
                        <th>Status</th>
                        <th>Action</th>
                       </tr>
                    </thead>
                    <tbody>
						<tr>
							<td><img src="assets/images/rest1.png" class="round-tbl"></td>
							<td>
								Dominos 
							</td>
							<td>123 Town Street, California</td>
							<td>
								<ul class="rate-tbles">
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star-half-empty"></i> </li>
									<li> <i class="fa fa-star-o"></i> </li> 
								</ul>
							</td>
							<td><label class="badge badge-success">Open </label></td>
							<td>
								<button type="button" class="btn btn-icons btn-rounded btn-danger" data-toggle="modal" data-target="#delete-pop"><i class="icon-trash"></i></button>
							</td>
						</tr>
						<tr>
							<td><img src="assets/images/rest2.png" class="round-tbl"></td>
							<td>
								Pizza Hut 
							</td>
							<td>111 Street Down, Alaska</td>
							<td>
								<ul class="rate-tbles">
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star-half-empty"></i> </li> 
								</ul>
							</td>
							<td><label class="badge badge-danger">Closed </label></td>
							<td>
								<button type="button" class="btn btn-icons btn-rounded btn-danger" data-toggle="modal" data-target="#delete-pop"><i class="icon-trash"></i></button>
							</td>
						</tr>
						<tr>
							<td><img src="assets/images/rest3.png" class="round-tbl"></td>
							<td>
								Macdonald
							</td>
							<td>Main Market Hall, CA 12345</td>
							<td>
								<ul class="rate-tbles">
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star"></i> </li> 
								</ul>
							</td>
							<td><label class="badge badge-success">Open </label></td>
							<td>
								<button type="button" class="btn btn-icons btn-rounded btn-danger" data-toggle="modal" data-target="#delete-pop"><i class="icon-trash"></i></button>
							</td>
						</tr>
						<tr>
							<td><img src="assets/images/rest4.png" class="round-tbl"></td>
							<td>
								KFC
							</td>
							<td>Town Market, California</td>
							<td>
								<ul class="rate-tbles">
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star-o"></i> </li>
									<li> <i class="fa fa-star-o"></i> </li> 
								</ul>
							</td>
							<td><label class="badge badge-danger">Closed </label></td>
							<td>
								<button type="button" class="btn btn-icons btn-rounded btn-danger" data-toggle="modal" data-target="#delete-pop"><i class="icon-trash"></i></button>
							</td>
						</tr>
						<tr>
							<td><img src="assets/images/rest5.png" class="round-tbl"></td>
							<td>
								CCD
							</td>
							<td>Street market, Alaska </td>
							<td>
								<ul class="rate-tbles">
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star"></i> </li>
									<li> <i class="fa fa-star-o"></i> </li> 
								</ul>
							</td>
							<td><label class="badge badge-success">Open </label></td>
							<td>
								<button type="button" class="btn btn-icons btn-rounded btn-danger" data-toggle="modal" data-target="#delete-pop"><i class="icon-trash"></i></button>
							</td>
						</tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
			</div>
            
          </div>
	</div>	  
           <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed By Indi IT Solutions.
            
            </span>
          </div>
        </footer>
      </div>
	  </div>
	

<div class="modal fade" id="delete-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
		<h5> Are you sure wants to delete it ? </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>	
	  

