<div class="container-scroller">
  <app-header></app-header>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row mb-4">
          <div class="col-12 d-flex align-items-center justify-content-between">
            <h4 class="page-title">Customer Details</h4>
          </div>
        </div>
        <div class="row profile-page">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <ul class="nav nav-tabs tab-basic" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="home-tab1"
                      data-toggle="tab"
                      href="#whoweare1"
                      role="tab"
                      aria-controls="whoweare"
                      aria-selected="true"
                      >Info</a
                    >
                  </li>
                  <!--
          <li class="nav-item">
            <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#history1" role="tab" aria-controls="history" aria-selected="false">Payment Details</a>
          </li> -->
                </ul>
                <div class="tab-content tab-content-basic">
                  <div
                    class="tab-pane fade show active"
                    id="whoweare1"
                    role="tabpanel"
                    aria-labelledby="home-tab1"
                  >
                    <div class="row">
                      <div class="profile-page new-on-tb m-t-20">
                        <div class="col-12">
                          <div class="card left-profl">
                            <div class="card-body p-0">
                              <div class="row">
                                <div class="col-md-4">
                                  <h6>Influencer Image</h6>
                                  <div
                                    class="profile-header text-white d-none d-md-block"
                                  >
                                    <div class="d-flex justify-content-around">
                                      <div
                                        class="profile-info d-flex justify-content-center align-items-md-center"
                                      >
                                        <img
                                          class="rounded-circle img-lg m-t-30"
                                          src="./assets/images/no-image.svg"
                                          alt="profile image"
                                          *ngIf="
                                            details?.influencerImage == null ||
                                            !details?.influencerImage
                                          "
                                        />
                                        <img
                                          class="rounded-circle img-lg m-t-30"
                                          src="{{ details?.influencerImage }}"
                                          alt="profile image"
                                          *ngIf="
                                            details?.influencerImage != null
                                          "
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-8">
                                  <div class="profile-body pt-0">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div
                                          class="tab-content tab-body"
                                          id="profile-log-switch "
                                        >
                                          <div
                                            class="tab-pane fade show active"
                                            id="user-profile-info "
                                          >
                                            <div class="info-sma">
                                              <h4 class="brdr-db">Details</h4>
                                              <ul class="lin-nam">
                                                <li>
                                                  <strong
                                                    >Question Name :</strong
                                                  >
                                                  {{ details?.question }}
                                                </li>
                                                <br />
                                                <li>
                                                  <strong>Answer :</strong>
                                                  {{ details?.answer }}
                                                </li>
                                                <br />
                                                <li>
                                                  <strong
                                                    >Influencer Name :</strong
                                                  >
                                                  {{ details?.influencerName }}
                                                </li>
                                                <br />
                                                <li>
                                                  <strong>User Name :</strong>
                                                  {{ details?.username }}
                                                </li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="tab-pane fade"
                    id="history1"
                    role="tabpanel"
                    aria-labelledby="contact-tab1"
                  >
                    <div class="row m-b-20">
                      <div class="col-4">
                        <div class="card-dtls">
                          <span class="rty-cv"
                            ><img
                              src="assets/images/card.png"
                              class="card-logi"
                            />
                            <!-- <b> CVV : </b> 321  -->
                          </span>
                          <div class="card-numb">XXXX XXXX XXXX 7788</div>
                          <span class="hold-nm"> Christon </span>
                          <span class="exprt"> Expiry Date: 02/2042 </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid clearfix">
          <span
            class="text-muted d-block text-center text-sm-left d-sm-inline-block"
            >Copyright © 2019. All rights reserved.</span
          >
          <span
            class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
            >Designed By Indi IT Solutions.
          </span>
        </div>
      </footer>
    </div>
  </div>

  <div
    class="modal fade"
    id="remarks"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm modl-shad" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h4>Remarks</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
        <div class="modal-footer pull-left">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
