<div class="container-scroller">
<app-header></app-header>
      <!-- partial -->
	<div class="container-fluid page-body-wrapper">
     
      <!-- partial:partials/_sidebar.html -->
      <app-sidebar></app-sidebar>
       <div class="main-panel">
        <div class="content-wrapper">
			<div class="row mb-4">
				<div class="col-12 d-flex align-items-center justify-content-between">
					<h4 class="page-title">Food Categories</h4>
          <a  data-toggle="modal" data-target="#addcategory-pop" class="dropdown-item mt-2" class="btn btn-success pull-right">Add Food Category</a>
				</div>
			</div>
			<div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="row portfolio-grid">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          <figure class="effect-text-in" routerLink="/food-lists">
                            <img src="assets/images/food1.jpg" alt="image"/>
                            <figcaption>
                              <h4>Pizza</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </figcaption>
                          </figure>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          <figure class="effect-text-in" routerLink="/food-lists">
                            <img src="assets/images/food2.jpg" alt="image"/>
                            <figcaption>
                              <h4>Burger</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </figcaption>
                          </figure>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          <figure class="effect-text-in" routerLink="/food-lists">
                            <img src="assets/images/food2.jpg" alt="image"/>
                            <figcaption>
                              <h4>Italian</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </figcaption>
                          </figure>
                        </div>
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          <figure class="effect-text-in" routerLink="/food-lists">
                            <img src="assets/images/food4.jpg" alt="image"/>
                            <figcaption>
                              <h4>Desserts</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </figcaption>
                          </figure>
                        </div>
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          <figure class="effect-text-in" routerLink="/food-lists">
                            <img src="assets/images/food5.jpg" alt="image"/>
                            <figcaption>
                              <h4>Fast Food</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </figcaption>
                          </figure>
                        </div>
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          <figure class="effect-text-in" routerLink="/food-lists">
                            <img src="assets/images/food6.jpg" alt="image"/>
                            <figcaption>
                              <h4>Chinese</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </figcaption>
                          </figure>
                        </div>
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          <figure class="effect-text-in" routerLink="/food-lists">
                            <img src="assets/images/food7.jpg" alt="image"/>
                            <figcaption>
                              <h4>Juice and Smoothies</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </figcaption>
                          </figure>
                        </div>
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                          <figure class="effect-text-in" routerLink="/food-lists">
                            <img src="assets/images/food8.jpg" alt="image"/>
                            <figcaption>
                              <h4>American</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
		</div> 
           
           <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed By Indi IT Solutions.
            
            </span>
          </div>
        </footer>
      
	  </div>
	  </div>


<div class="modal fade" id="addcategory-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <div class="info-sma">
                          <h4 class="brdr-db"> Add Food Category </h4>
                        
                          <div class="row">
                             <div class="col-md-12">
                                <div class="card crd-s crds">
                                <div class="card-body p-0">
                                  <div class="profile-header text-white d-none d-md-block">
                                  <div class="d-flex justify-content-around">
                                    <div class="profile-info d-flex justify-content-center align-items-md-center set-pos-s">
                                    <img class="rounded-circle img-lg" src="./assets/images/no-image.svg" alt="profile image" *ngIf="Image == null">

                                    <img class="rounded-circle img-lg" src="{{Image}}" alt="profile image" *ngIf="Image != null">
                                    <label class="edit-imgs" for="edi-pro">
                                      <i class="icon-pencil"></i>
                                      <input type="file" id="edi-pro" style="visibility:hidden; width:0px; height:0px;" formControlName="profile_image" name="profile_image" (change)="onImageChanged($event)"  name="file" ngf-pattern="'image/*" accept="image/*" ngf-max-size="200MB" class="dropify" filepreview="filepreview1" fileinput="file" ngf-select>
                                    </label>
                                   </div>
                                   
                                  </div>
                                  </div>
                                </div>
                                </div>
                              </div>

                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Category Name</label>
                                <input type="text" class="form-control" placeholder="" formControlName="fname" name="fname" [ngClass]="(authForm.controls.fname.hasError('required') && authForm.controls.fname.touched )? 'has-error' : ''">
                                <span *ngIf="authForm.controls.fname.hasError('required') &&    authForm.controls.fname.touched">
                                          <p style="color:#f70101 !important;">Field first name is required!</p>
                                    </span>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Description</label>
                                <textarea class="form-control"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteCustomer()">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>  