<div class="container-scroller">
  <app-header></app-header>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row mb-4">
          <div class="col-12 d-flex align-items-center justify-content-between">
            <h4 class="page-title">Customer Details</h4>
          </div>
        </div>
        <div class="row profile-page">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <ul class="nav nav-tabs tab-basic" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="home-tab1"
                      data-toggle="tab"
                      href="#whoweare1"
                      role="tab"
                      aria-controls="whoweare"
                      aria-selected="true"
                      >Basic Info</a
                    >
                  </li>

                  <!-- <li class="nav-item">
				  <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#history1" role="tab" aria-controls="history" aria-selected="false">Payment Details</a>
				</li> -->
                </ul>
                <div class="tab-content tab-content-basic">
                  <div
                    class="tab-pane fade show active"
                    id="whoweare1"
                    role="tabpanel"
                    aria-labelledby="home-tab1"
                  >
                    <div class="row">
                      <div class="profile-page new-on-tb m-t-20">
                        <div class="col-12">
                          <div class="card left-profl">
                            <div class="card-body p-0">
                              <div class="row">
                                <div class="col-md-4">
                                  <div
                                    class="profile-header text-white d-none d-md-block"
                                  >
                                    <div class="d-flex justify-content-around">
                                      <div
                                        class="profile-info d-flex justify-content-center align-items-md-center"
                                      >
                                        <img
                                          class="rounded-circle img-lg m-t-30"
                                          [attr.src]="
                                            details.image
                                              ? details.image
                                              : 'assets/images/profile.png'
                                          "
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-8">
                                  <div class="profile-body pt-0">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div
                                          class="tab-content tab-body"
                                          id="profile-log-switch "
                                        >
                                          <div
                                            class="tab-pane fade show active"
                                            id="user-profile-info "
                                          >
                                            <div class="info-sma">
                                              <h4 class="brdr-db">
                                                Basic Information
                                              </h4>
                                              <ul class="lin-nam">
                                                <li>
                                                  <strong>First Name :</strong>
                                                  {{ details?.firstName }}
                                                </li>
                                                <li>
                                                  <strong>Last Name :</strong>
                                                  {{ details?.lastName }}
                                                </li>
                                                <li>
                                                  <strong>User Name :</strong>
                                                  {{ details?.username }}
                                                </li>
                                                <li>
                                                  <strong
                                                    >Email Address :</strong
                                                  >
                                                  {{ details?.email }}
                                                </li>

                                                <li>
                                                  <strong>DOB :</strong>
                                                  {{ details?.dob }}
                                                </li>
                                                <li>
                                                  <strong>Mood :</strong>
                                                  {{ details?.mood }}
                                                </li>
                                                <li>
                                                  <strong>Level :</strong>
                                                  {{ details?.level }}
                                                </li>

                                                <li>
                                                  <strong
                                                    >Friends Allowed :</strong
                                                  >
                                                  {{ details?.friends_allowed }}
                                                </li>
                                                <li>
                                                  <strong>Friends :</strong>
                                                  {{ details?.friends_count }}
                                                </li>
                                                <li>
                                                  <strong
                                                    >Sent Requests :</strong
                                                  >
                                                  {{ details?.request_count }}
                                                </li>
                                              </ul>
                                              <h4 class="brdr-db">
                                                Friends List
                                              </h4>

                                              <ul class="lin-nam">
                                                <li>
                                                  <span class="badge"
                                                    >First Name</span
                                                  >
                                                  Last Name
                                                </li>
                                              </ul>
                                              <!-- <h4 class="brdr-db m-t-20">
                                                 &nbsp;
                                              </h4>
                                              <div class="row">
                                                <div
                                                  class="col-md-6"
                                                  *ngFor="
                                                    let interestAreas of allInterests
                                                  "
                                                >
                                                  <div class="form-group">
                                                    <input
                                                      [disabled]="true"
                                                      type="checkbox"
                                                      [checked]="
                                                        interestAreas.checked
                                                      "
                                                      data-md-icheck
                                                    />&nbsp;
                                                    <label>{{
                                                      interestAreas.interest
                                                    }}</label>
                                                  </div>
                                                </div>
                                              </div> -->
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="tab-pane fade"
                    id="history1"
                    role="tabpanel"
                    aria-labelledby="contact-tab1"
                  >
                    <!-- <div class="row m-b-20" *ngIf="details?.paymentInfo?.length > 0"> -->
                    <div class="row m-b-20">
                      <div
                        class="col-4"
                        *ngFor="let mycards of details?.paymentInfo"
                      >
                        <div class="card-dtls">
                          <span class="rty-cv">
                            <img
                              *ngIf="
                                mycards.cardtype == 'jcb' ||
                                mycards.cardtype == 'JCB'
                              "
                              src="assets/images/jcb.jpeg"
                              class="card-logi"
                            />
                            <img
                              *ngIf="
                                mycards.cardtype == 'Visa' ||
                                mycards.cardtype == 'visa'
                              "
                              src="assets/images/visa.png"
                              class="card-logi"
                            />
                            <img
                              *ngIf="
                                mycards.cardtype == 'Discover' ||
                                mycards.cardtype == 'discover'
                              "
                              src="assets/images/discover.jpg"
                              class="card-logi"
                            />
                            <img
                              *ngIf="
                                mycards.cardtype != 'Visa' &&
                                mycards.cardtype != 'Discover' &&
                                mycards.cardtype != 'visa' &&
                                mycards.cardtype != 'discover' &&
                                mycards.cardtype != 'JCB' &&
                                mycards.cardtype != 'jcb'
                              "
                              src="assets/images/card.png"
                              class="card-logi"
                            />
                            <!-- <b> CVV : </b> 321  -->
                          </span>
                          <div class="card-numb">{{ mycards.number }}</div>
                          <span class="hold-nm"> {{ mycards.name }} </span>
                          <span class="exprt">
                            Expiry Date:
                            {{ mycards.expMonth + "/" + mycards.expYear }}
                          </span>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="row m-b-20" *ngIf="details?.paymentInfo?.length == 0 || !details?.paymentInfo">
						<div class="col-4">
							<span>No payment method added by the user yet!</span>
						</div>
					</div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid clearfix">
          <span
            class="text-muted d-block text-center text-sm-left d-sm-inline-block"
            >Copyright © 2019. All rights reserved.</span
          >
          <span
            class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
            >Designed By Indi IT Solutions.
          </span>
        </div>
      </footer>
    </div>
  </div>

  <div
    class="modal fade"
    id="remarks"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm modl-shad" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h4>Remarks</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
        <div class="modal-footer pull-left">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
